<template>

<div>
<navBar></navBar>
  <router-view/>
</div>


</template>

<script>
import authService from "./components/services/authService.vue";

export default {
  name: 'App',
  data () {
    return {
    }
},
created(){
      this.$socket.on('connect',function(){
      console.log('connected to soscket')
    })
  }
}
</script>

<style>
#app {
  font-family: Helvetica Neue, Helvetica,PingFang SC, Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}

.formError{
color:red;
font-size: 13px
}

/* buttons */

.button.is-primary{
  background-color: #f1c40f;
    color:white
}

.button.is-danger{
  background-color: #e74c3c;
  color:white
}
.button.is-success{
  background-color: #27ae60;
    color:white
}

.button.is-warning{
  background-color: #f39c12;
  color:white
}
.button:hover.is-danger{
    background-color: #c23627;
}

.button:hover.is-success{
  background-color: #209952;
}

.button:hover.is-warning{
  background-color: #ce8511;
  color:white
}

.button:hover.is-primary{
  background-color: #d8b010;
    color:white
}

/* tags */
.tag:not(body).is-info{
  background-color: #2980b9;
    color:white
}
.tag:not(body).is-success{
  background-color: #27ae60;
    color:white
}
.tag:not(body).is-warning{
  background-color: #e74c3c;
  color:white
}

.tag:not(body).is-rounded {
    width: 79px
}

.button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.formsfooter{
  color: black
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');


body, button, input, select, textarea, a,h1, h2, h3,.title,.subtitle,*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px
}
.input{
  font-size: 18px !important;
} 
.input::placeholder {
  color: lightgray !important;
}

</style>
