<template>
<article class="message is-medium is-grey" :class="accordionClasses">
    <div class="message-header" @click=toggleAccordion>
        <img src="https://res.cloudinary.com/dmp70q5nt/image/upload/v1536931514/sites/favicon.ico" width="20">
        {{question.question}}
    </div>
    <div class="message-body">
        <div class=message-content>
            {{question.answer}}
        </div>
    </div>
</article>
</template>

<script>
export default {
    name: "accordionItem",
    data() {
        return {
            isOpen: false,
        };
    },
    props: ['question'],
    methods: {
        toggleAccordion: function (event) {
            this.isOpen = !this.isOpen;
        }
    },
    computed: {
        accordionClasses: function () {
            return {
                "is-closed": !this.isOpen
            };
        }
    }
};
</script>

<style scoped>
.container {
    width: 800px;
    margin: 0 auto;
}

.message {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.message-header {
    cursor: pointer;
    display: list-item;
}

.message-body {
    padding: 0;
    overflow: hidden;
    transition: 0.3s ease all;
}

.is-closed .message-body {
    max-height: 0;
}

.message-content {
    padding: 20px;
}

.title {

    height: 60px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
</style>
