<template>
<div class="container">
    <h3 class="title">
        Contact
    </h3>
    <div class="box">
        <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="false"></b-loading>
        <p v-if="errors.length">
            <b>Please correct the following error(s):</b>
            <ul>
                <li class="formError" :key="error" v-for="error in errors">{{ error }}</li>
            </ul>
        </p>
        <form v-on:submit="sendContactMessage" method="post">
            <div class="field">
                <div class="control">
                    <label class="label">Email</label>
                    <input class="input" type="email" placeholder="Your Email" autofocus="" v-model="message.email" required>
                                </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label">Name</label>
                        <input class="input" type="text" placeholder="John Smith" v-model="message.name" required>
                    </div>
                </div>
                    <div class="field">
                        <div class="control">
                            <label class="label">Subject</label>
                            <input class="input is-meduim" type="text" placeholder="Boomer inc." autofocus="" v-model="message.subject" required>
                        </div>
                    </div>
                        <div class="field">
                            <div class="control">
                                <label class="label">Description</label>
                                <textarea class="textarea is-meduim" name="" id="" cols="20" rows="5" v-model="message.description"></textarea>
                            </div>
                        </div>
                        <button class="button is-block is-success is-meduim is-fullwidth">Send</button>
        </form>
    </div>
</div>
</template>

<script>
import httpService from '../services/httpService'
import validationService from '../services/validationService'
import notificationService from '../services/notificationService'
export default {
    name: "contacta",
    data() {
        return {
            errors: [],
            isFullPage: true,
            isLoading: false,
            message: {}
        };
    },
    methods: {
        sendContactMessage: async function (e) {
            e.preventDefault();
            this.errors = [];
            console.log(this.message)
            validationService.methods.validateContactMessage(this.message, this.errors)
            if (this.errors.length <= 0) {
                let messageSent = await httpService.methods.httpReq('api/sendContactMessage', this.message, 'post')
                if (messageSent.data === true) {
                    notificationService.methods.openSnackBar('Message Sent! Thank you', 'is-success', 'is-top-right')
                    this.message = {}
                }
            } else {
                notificationService.methods.openSnackBar('Message Was Not Sent,please check your internet connection and try again', 'is-danger', 'is-top-right')
            }
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
.box{
  width:50%
}
</style>
