<template>

        <div class="columns">
            <div class="column is-2">
                <aside class="menu">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><router-link :to="{path:'/cp/profile/'}">Profile Settings</router-link></li>
                    </ul>
                    <p class="menu-label">
                        Deals
                    </p>
                      <ul class="menu-list">
                        <li><router-link :to="{path:'/cp/deals/'}">Manage Deals</router-link></li>
                        <li><router-link :to="{path:'/cp/inbox/'}">Inbox</router-link></li>
                    </ul>
                    <p class="menu-label">
                        Support
                    </p>
                    <ul class="menu-list">
                        <li><router-link :to="{name:'helpCenter'}">Help Center</router-link></li>
                        <li><router-link :to="{name:'contact'}">Contact</router-link></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
              <router-view></router-view>
            </div>
        </div>
    
</template>

<script>
export default {
  name: "userAreaMainPage",
  data() {
    return {
    };
  },
  methods: {
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.columns{
    padding-top:55px
}
.menu{
    padding-left: 25px
}
</style>
