<template>
<section>
    <h1 class="title is-3 has-text-cenetred">Deal Managment</h1>
    <b-table class="table-width" 
        :data="isEmpty ? [] : this.userDeals" 
        :bordered="isBordered" 
        :striped="isStriped" 
        :narrowed="isNarrowed" 
        :hoverable="isHoverable" 
        :loading="isLoading" 
        :focusable="isFocusable" 
        :mobile-cards="hasMobileCards" 
        :paginated="true" per-page="5">

        <template slot-scope="props">
            <b-table-column field="title" label="Title" width="210">
                {{ props.row.title || "N/A" }}
            </b-table-column>

            <b-table-column field="category" label="Category" centered>
                {{ props.row.category || "N/A" }}
            </b-table-column>

            <b-table-column field="Start" label="Started" centered>
                <span class="tag is-success is-rounded">
                        {{ new Date(props.row.start).toLocaleDateString() || "N/A"  }}
                    </span>
            </b-table-column>
            <b-table-column field="End" label="End" centered>
                <span class="tag is-warning is-rounded">
                        {{ new Date(props.row.end).toLocaleDateString() }}
                    </span>
            </b-table-column>
            <b-table-column label="Duration" centered>
                {{ props.row.duration || "N/A"  }} days
            </b-table-column>
            <b-table-column label="open for bids" width="132" centered>
                {{ SetOpenForBids(props.row.openForBids)  }}
            </b-table-column>
            <b-table-column label="Deal Country" field="country" width="133" centered>
                {{ props.row.country || "N/A" }}
            </b-table-column>
            <b-table-column label="Status" field="status" width="40" centered>
                <b-tag v-if="props.row.active" type="is-info is-rounded">Active</b-tag>
                <b-tag v-if="!props.row.active" type="is-warning is-rounded">Inactive</b-tag>

            </b-table-column>
            <b-table-column label="Actions" field="Actions" centered>
                <button class="button is-small is-success" @click="openEditDealPage(props.row._id,props.row.publisher,props.row.active)">Edit</button>
                <button v-if="props.row.active" @click="ChangeDealStatus(props.row._id,false)" class="button is-small is-warning">Deactivate</button>
                <button v-if="!props.row.active"  @click="ChangeDealStatus(props.row._id,true,props.row.duration)" class="button is-small is-primary">Reactivate</button>
                <button @click="deleteDeal(props.row._id)" class="button is-small is-danger">Delete</button>
            </b-table-column>
        </template>

        <template slot="empty">
            <section class="section">
                <div class="content has-text-grey has-text-centered">
                    <p>
                        <font-awesome-icon icon="frown" size="5x"></font-awesome-icon>
                    </p>
                    <p>You Dont Have Deals For Now</p>
                </div>
            </section>
        </template>
    </b-table>
</section>
</template>

<script>
import httpService from '../services/httpService'
import deactivatedDealModal from '../modals/deactivateDealModal'
import deleteDealModal from '../modals/deleteDealModal'
import notificationService from '../services/notificationService'
export default {
    name: "dealsCp",
    data() {
        return {
            userDeals:[],
            isEmpty: false,
            isBordered: false,
            isStriped: true,
            isNarrowed: false,
            isHoverable: true,
            isFocusable: false,
            isLoading: false,
            hasMobileCards: true
        };
    },
    methods: {
        getUserDeals: async function () {
            try {
                this.isLoading = true
                //send request to server
                let userDealsFromServer = await httpService.methods.httpReq('api/users/getUserDeals', {publisher: this.$store.getters.getUserName}, 'post')
                if (userDealsFromServer.data!="") {
                    this.userDeals=userDealsFromServer.data
                    return this.isLoading = false
                }
                this.isEmpty = true;
                this.isLoading = false
            } catch (error) {
                this.isLoading = false
                console.log('error'+error)
                return notificationService.methods.openSnackBar(
                 'We had an error bringing your deals... please try again or contact support',
                 'is-danger', 
                 'is-top-right')

            }
        }, ChangeDealStatus: async function (deal, reactivate, duration) {
                if (reactivate === true) {
                    console.log(deal);
                    this.$modal.open({
                        props: {
                            dealID: deal,
                            reactivate: reactivate,
                            duration: duration
                        },
                        parent: this,
                        component: deactivatedDealModal,
                        hasModalCard: true,
                        events: {
                            'dealStatusChanged': this.getUserDeals
                        }
                    });
                } else {
                    console.log(deal);
                    this.$modal.open({
                        props: {
                            dealID: deal
                        },
                        parent: this,
                        component: deactivatedDealModal,
                        hasModalCard: true,
                        events: {
                            'dealStatusChanged': this.getUserDeals
                        }
                    });
                }
            },
            deleteDeal: async function (deal) {
                    this.$modal.open({
                        props: {
                            dealID: deal
                        },
                        parent: this,
                        component: deleteDealModal,
                        hasModalCard: true,
                        events: {
                            'dealDeleted': this.getUserDeals
                        }
                    });
                },
                openEditDealPage: function (dealID, publisher, active) {
                    if (active === false) {
                        return notificationService.methods.openSnackBar('You cant edit inactive deal, please reactivate it and then edit it', 'is-danger', 'is-top-right')

                    }
                    this.$router.push({
                        name: "forms",
                        params: {
                            formName: 'editDeal',
                            dealID: dealID,
                            username: publisher
                        }
                    });
                },
                SetOpenForBids: function (openForBids) {
                    //will set the value to words
                    if (openForBids === true) {
                        return 'Yes'
                    } else {
                        return 'No'
                    }
                }
    },
    beforeMount() {
        this.getUserDeals();
    },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
.table td {
    font-size: 10px;
    padding: 3em 0.75em;
    font-size: 7px
}

.buttons {
    flex-wrap: nowrap;
}

.table-width{
    width: 109%;
}

</style>
