<template>
<div>
  <h1 class="title is-3">Inbox</h1>
    <div class="columns">
      <div class="column is-2">
        <chatsList @clicked="getChatMessages"></chatsList>
      </div>
      <div class="column is-4">
        <div id=messages>
          <div class="container" v-chat-scroll>
            <div v-for="message in messagess" :key=message._id>
              <b> {{message.from}} ({{ formatDate(message.time) }} {{ formatTime(message.time) }}):</b>
              <br>
              <div class="notification rounded">
                {{message.message}}
              </div>
            </div>
          </div>
          <br>
            <textarea v-model="message.message" class="textarea" placeholder="Enter Message Here....." ></textarea>
            <div id="errors">
              <ul>
                <li class="subtitle has-text-danger" :key="error" v-for="error in errors">{{ error }}</li>
              </ul>
            </div>
            <hr>
            <button type="button" class="button is-success is-meduim" @click="sendMessage">Send</button>
            <button type="button" class="button is-primary is-meduim" @click="clearTextBox">Clear</button>
        </div>
      </div>
    </div>
</div>
<!-- <div class="columns">
                <div class="column is-2">
                  <chatsList @clicked="getChatMessages"></chatsList>
                </div>
                <div class="column is-6">
                  <h1 class="title is-3">Inbox</h1>
                  <div class="chat">
                    <div id=messages>
                        <div class="container" v-chat-scroll>
                          <div v-for="message in messagess" :key=message._id>
                            <b> {{message.from}} ({{ formatDate(message.time) }}):</b>
                              <div class="notification is-link">
                                {{message.message}}
                              </div>
                            </div>
                      </div>
                    </div>
                    <hr>
                    <div id="message">
                      <textarea v-model="message.message" class="textarea" placeholder="Enter Message Here....."></textarea>
                      <hr>
                      <button type="button" class="button is-info" @click="sendMessage">Send</button>
                      <button type="button" class="button is-warning" @click="clearTextBox">Clear</button>
                    </div>
                  </div>
                </div>
            </div> -->
</template>

<script>
import httpService from "../services/httpService.vue";
import validationService from "../services/validationService"
import { dateMixin } from "../../utils/dateMixin.js";
export default {
  data() {
    return {
      errors:[],
      currentChat: null,
      messages: [],
      users: [],
      message: {
        chatID: null,
        from: null,
        to: null,
        message: null
      }
    };
  },
  mixins: [dateMixin],
  methods: {
    async createMessage() {
      let messageCreated = await httpService.methods.httpReq(
        `api/chats/createMessage`,
        this.message,
        "post"
      );
      if (messageCreated.data === false) {
        return;
      }
      console.log(messageCreated.data);
      // this.messages=messages
    },
    getChatMessages: function(value) {
      console.log("getting chat messages");
      this.currentChat = value;
      //add the chatID to the message object prepare it to sending
      this.message.chatID = value._id;
      this.message.from = this.$store.getters.getUserName;
      //temp fix, need to think about it
      if (value.users[0] === this.messagefrom) {
        this.message.to = value.users[1];
      } else {
        this.message.to = value.users[0];
      }
      //fetch the chat messages
      this.$socket.emit(
        "fetch",
        value,
        function(data) {
          this.messages = data;
        }.bind(this)
      );
      // this.$socket.emit('join',this.message.chatID)
      // this.$socket.on('chat-fetched',function(data){
      //   console.log(data)
      //   // this.messages=data
      // })
      // console.log(this.messages)
      // console.log('omer')
    },
    sendMessage: function() {
      this.errors=[]
      //if message is empty
      validationService.methods.validateString(this.message.message,this.errors,'Chat Message',300,5)
      if(this.errors.length>0){
        return
      }
      //emit the event and sent the message
      this.$socket.emit(
        "createMessage",
        this.message,
        function(res) {
          console.log(res);
        }.bind(this)
      );
      //clear text box
      this.clearTextBox();
      console.log(this.message);
      // this.getChatMessages(this.currentChat)
    },
    clearTextBox: function() {
      this.errors=[];
      this.message.message = "";
    }
  },
  beforeMount() {
    this.$socket.on(
      "newMessage",
      function(message) {
        console.log("new message arrived!", message);
        this.messages.push(message);
      }.bind(this)
    );
    // this.getChatMessages()
  },
  computed: {
    messagess: function() {
      return this.messages;
    }
  },
  beforeDestroy() {
    this.$socket.emit("disconnect");
  }
};
</script>

<style scoped>

.textarea {
  resize: none;
  max-width: 218%;
  min-width: 218%;
}

.container {
  width: 1000px;
  overflow-y: scroll;
  overflow-x: none;
  height: 300px;
  border: 1px solid lightgray;
  padding: 10px;
}

hr {
  margin: 0.5rem 0 !important;
  width: 218%
}

#messageTemplate {
  width: 380px;
  padding: 0px 0px 0px 10px;
}

.card {
  width: 1000px;
  overflow: auto;
  overflow-x: none;
  max-height: 150px;
}

.menu-list {
  margin-top: 50px;
}

.notification {
  width: 450px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.column.is-2 {
  width: 10%;
}

.rounded{
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #3498db;
  color: white;
}

</style>
