<template>
<section>
    <h1 class="title is-3">Profile Settings</h1>
    <div class="columns">
        <div class="column">
            <div class="box">
                <form v-on:submit="updateUserDetails" id="updateUserDetalisForm" method="post">
                    <div class="field">
                        <p v-if="errors.length">
                            <b>Please correct the following error(s):</b>
                            <ul>
                                <li class="formError" :key="error" v-for="error in errors">{{ error }}</li>
                            </ul>
                        </p>                        
                        <label class="label">Full Name</label>
                        <p class="control">
                            <input class="input" type="text" placeholder="John Smith" v-model="user.fullName">
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Company</label>
                        <p class="control">
                            <input class="input" type="text" placeholder="Boomer Inc" v-model="user.company">
                    </p>
                    </div>
                    <div class="field">
                        <label class="label">Country</label>
                        <p class="control">
                            <b-autocomplete v-model="user.country" 
                            placeholder="Start Typing..." 
                            :open-on-focus="openOnFocus" 
                            :data="filteredCountries" 
                            field="country" 
                            @select="setCountryAndContinentProfile(option)">
                            </b-autocomplete>
                        </p>
                    </div>
                </form>
                <hr>
                <p class="control">
                    <button type="submit" class="button is-success is-fullwidth" @click="updateUserDetails" >Update</button>
                </p>
            </div>
        </div>
        <div class="column">
            <div class="box">
            <p v-if="passwordErrors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                    <li class="formError" :key="error" v-for="error in passwordErrors">{{ error }}</li>
                </ul>
            </p>
                <form v-on:submit="changeUserPassword" id="changePasswordForm" method="post">
                    <label class="label">Current Password</label>
                    <p class="control">
                        <input class="input" type="password" placeholder="●●●●●●●" v-model="passwords.currentPassword" required>
                    </p>
                    <label class="label">New Password</label>
                    <p class="control">
                        <input class="input" type="password" placeholder="●●●●●●●" v-model="passwords.newPassword1" required>
                    </p>
                    <label class="label">New Password Again</label>
                    <p class="control">
                        <input class="input" type="password" placeholder="●●●●●●●" v-model="passwords.newPassword2" required>
                    </p>
                    <hr>
                </form>
                <hr>
                <p class="control">
                    <button type="submit" class="button is-success is-fullwidth" @click="changeUserPassword" >Change Password</button>
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="columns">
  <div class="column is-three-fifths">
        <div class="card">
        <div class="card-content">
            <p v-if="errors.length">
                <ul>
                    <li class="formError" :key="error" v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <form v-on:submit="updateUserDetails" id="updateUserDetalisForm" method="post">
                <div class="field">
                    <label class="label">Full Name</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="John Smith" v-model="user.fullName">
              </p>
                </div>
                <div class="field">
                    <label class="label">Company</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="Boomer Inc" v-model="user.company">
                    </p>
                </div>
                <div class="field">
                    <label class="label">Country</label>
                    <p class="control">
                        <b-autocomplete
                        v-model="user.country"
                            placeholder="Start Typing..."
                            :open-on-focus="openOnFocus"
                            :data="filteredCountries"
                            field="country"
                            @select="option => countryObj=option">
                        </b-autocomplete>                    
                    </p>
                </div>
            </form>
            <hr>
            <p class="control">
                <button type="submit" class="button is-success is-fullwidth" @click="updateUserDetails" >Update</button>
            </p>
        </div>
    </div>
  </div>
  <div class="column is-three-fifths">
       <div class="card">
        <div class="card-content">
            <p v-if="passwordErrors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                    <li class="formError" :key="error" v-for="error in passwordErrors">{{ error }}</li>
                </ul>
            </p>
            <form v-on:submit="changeUserPassword" id="changePasswordForm" method="post">
                <label class="label">Current Password</label>
                <p class="control">
                    <input class="input" type="password" placeholder="●●●●●●●" v-model="passwords.currentPassword" required>
                </p>
                <label class="label">New Password</label>
                <p class="control">
                    <input class="input" type="password" placeholder="●●●●●●●" v-model="passwords.newPassword1" required>
                </p>
                <label class="label">New Password Again</label>
                <p class="control">
                    <input class="input" type="password" placeholder="●●●●●●●" v-model="passwords.newPassword2" required>
                </p>
                <hr>
                <p class="control">
                    <button type="submit" class="button is-success is-fullwidth" @click="changeUserPassword" >Change Password</button>
                </p>
            </form>
        </div>
    </div>
  </div>
</div> -->
    <br>
</section>
</template>

<script>
import httpService from "../services/httpService";
import { countryMixin } from "../../utils/countryMixin";
import authService from "../services/authService.vue";
import validationService from "./../services/validationService";
import notificationService from "../services/notificationService";
import { dealsMixin } from "../../utils/dealsMixin";
export default {
  name: "profile",
  mixins: [countryMixin, dealsMixin],
  data() {
    return {
      errors: [],
      passwordErrors: [],
      user: {
        fullName: null,
        company: null,
        country: null,
        continent: null
      },
      passwords: {
        currentPassword: null,
        newPassword1: null,
        newPassword2: null
      },
      openOnFoucus: false,
      countryObj: {}
    };
  },
  methods: {
    getUserDetails: async function() {
      let user = await httpService.methods.httpReq(
        "api/users/getUserInfo",
        {
          username: this.$store.getters.getUserName
        },
        "post"
      );
      this.user.fullName = user.data.fullName;
      this.user.company = user.data.company;
      this.user.country = user.data.country;
      this.user.continent= user.data.continent
      this.countryObj.continent=user.data.continent
    },
    changeUserPassword: async function(e) {
      e.preventDefault();
      this.passwordErrors = [];
      //will check the password
      let passwordsOk = validationService.methods.validatePasswordUpdate(this.passwords,this.passwordErrors);
      if (passwordsOk === true) {
        this.passwords.username = this.$store.getters.getUserName;
        let passwordChanged = await httpService.methods.httpReq("api/users/changeUserPassword",this.passwords,"post");
        console.log(passwordChanged.data)
        if (!passwordChanged.data.length || passwordChanged.data.length == 0) {
          console.log("passwords is ok");
          notificationService.methods.openSnackBar("Password Updated!","is-danger","is-top-right");
          this.passwords={
            currentPassword: null,
            newPassword1: null,
            newPassword2: null
            }

        } else {
          this.passwordErrors = passwordChanged.data;
        }
        //pring message on screen that password have changed
      } else {
        notificationService.methods.openSnackBar(
          " Wasnt able to update password please try again or contact support",
          "is-danger",
          "is-top-right"
        );
      }
    },
    updateUserDetails: async function(e) {
      e.preventDefault();
      this.errors = [];
      //temp fix, need to fix it.
      this.user.continent = this.countryObj.continent;
      //check the inputs user entered
      //validate localy
      let updatedInfoIsValidated = validationService.methods.validateUserUpdateDetails(this.user,this.errors);
      console.log(this.errors)
      console.log(updatedInfoIsValidated)
      if (updatedInfoIsValidated) {
        this.user.username = this.$store.getters.getUserName;
        let userInfoWasUpdated = await httpService.methods.httpReq("api/users/updateUserInfo",this.user,"post");
        if (userInfoWasUpdated.data) {
          notificationService.methods.openSnackBar("Profile Details Updated!","is-danger","is-top-right");
        } else {
          notificationService.methods.openSnackBar("Wasnt able to update details please try again or contact support","is-danger","is-top-right");
        }
      }
    }
  },
  beforeMount() {
    this.getUserDetails();
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
#updateForm {
  background: white;
  margin-top: 30px;
  width: 65%;
}

.card {
  width: 30%;
}
</style>
