<template>
<aside class="menu">
  <ul class="menu-list">
    <li v-for="chat in chatList" :key=chat._id>
      <button class="button is-fullwidth is-rounded" @click="onClickButton(chat)">{{formatChatName(chat.users) || 'No chats!'}}</button>
      <hr>
    </li>
  </ul>
</aside>
</template>

<script>
    import httpService from '../services/httpService.vue'
    export default {
      name:'chatsList',
      props:['messages'],
        data() {
            return {
              chatList:[]
          }
    },methods:{
      onClickButton (chatObj) {
        console.log("chat Object:"+chatObj._id)
        this.$emit('clicked',chatObj)
        },
      getChatsList:async function(){
        let chatsList=await httpService.methods.httpReq(`api/chats/${this.$store.getters.getUserName}/getChats`,{},'post')
        if(chatsList.data===false){
          this.chatList=[]
        }
        this.chatList=chatsList.data
        console.log(this.chatsList)
      },
      updateMessages: function(chatID){
        this.messages=chatID
      },
      getChatMessages: function(chatID){
        // this.$socket.emit('fetch',messages)
        // this.$emit('input',messages)
        console.log(this.messages)
        console.log('omer')
      },
      formatChatName: function(users){
        //will trim the user name to his email name only to show on the chatlist
        let tempArray=[]
        if(users[0]===this.$store.getters.getUserName){
          tempArray=users[1].split('@')
        }else{
          tempArray=users[0].split('@')
        }
        return tempArray[0]
      }
    },
    beforeMount() {
      this.getChatsList()
    },
  }
</script>

<style scoped>
hr {
  margin: 0.5rem 0;
}
.button{
  background-color: #E13F3D;
  color:white;
}

</style>

