<template>
<div>
<div class="card">
  <div class="card-image">
    <figure class="image is-3by3">
      <img  :src="deal.mainPicture.secure_url" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
      </div>
    </div>
    <div class="content">
      {{deal.title}}
      <time datetime="2016-1-1">{{deal.start}}</time>
    </div>
  </div>
    </div>
  </div>
</template>
<script>

export default {
  name: "dealTemplate",
  data() {
    return {
    };
  },
  methods: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.card-image{
  margin-top: 15px;
}
.card{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.input {
  width: 800px;
}
.field.has-addons {
  margin-left: 180px;
}
</style>
