<template>
<div class="dealPageContainer" v-if="!notFound">
    <div class="dealHeader columns">
        <div class="column is-5">
            <h1 class="title is-2">{{deal.title}}</h1>
            <div class="topMargin">
                <h6 class="subtitle is-6">Posted <strong>{{formatDate(deal.start)}}</strong> | Category <strong>{{deal.category}}</strong></h6>
            </div>
        </div>
        <div class="column is-3">
        </div>
    </div>
    <div class="dealContent columns">
        <div class="column is-5">
            <p><strong>Country: </strong>{{deal.country}}</p>
            <p><strong>Company: </strong>{{publisher.company}}</p>
            <p v-if="deal.openForBids ===true"><strong>Open for Bids: </strong>Yes</p>
            <p v-if="deal.openForBids ===false"><strong>Open for Bids: </strong>No</p>
            <p v-if="deal.onlyMoney ===true"><strong>Wants in return: </strong>Money</p>
            <!-- Need to think about it -->
            <p v-if="deal.onlyMoney ===false"><strong>Wants in return: </strong>Barter</p>
            <div class="field is-grouped topMargin">
                <p class="control">
                    <button class="button is-info is-focused is-rounded" @click="openContactPublisherModal" v-if="!isSamePublisher">&#9993; Contact Publisher </button>
                </p>
                <p class="control">
                    <button class="button is-danger is-rounded" @click="reportDeal()" v-if="!isSamePublisher">Report Deal</button>
                </p>
            </div>
            <div v-if="isSamePublisher" class="notification is-info has-text-centered">
              You Own This Deal
            </div>
            <button class="button is-primary is-focused is-rounded is-fullwidth topMagin" @click="openContactPublisherModal" v-if="!isSamePublisher">Suggest Barter in Return</button>
            <h5 class="title is-5 topMargin">Description</h5>
            <p>{{deal.description}}</p>
        </div>
        <div class="column is-1">
        </div>
        <div class="column is-7">
            <carousel :per-page="1" :navigationEnabled=true :paginationEnabled=true>
                <slide data-index="0" data-name="MySlideName" v-for="pic in dealPictures" :key="pic.secure_url">
                    <img class="sliderImage" :src=pic.secure_url>
      </slide>
            </carousel>
        </div>
    </div>

    <div class="notFoundMessage" v-if="notFound">
        <h1> Sorry! This Deal Is Not Exist OR it might be out of date</h1>
        <h1>You can always go back and search for more deals on the market!</h1>
    </div>
</div>
</template>

<script>
import httpService from "../services/httpService.vue";
// import dealMixin from "../../utils/dealMixin.js"
import {
    dateMixin
} from "../../utils/dateMixin.js"
import contactPublisherModal from '../modals/contactPublisherModal.vue';
import dealReportModal from '../modals/dealReportModal'
export default {
    name: "dealPage",
    data() {
        return {
            deal: {},
            publisher: {},
            notFound: false,
            dealPictures: null,
            users: [2],
            isSamePublisher:false
        };
    },
    mixins: [dateMixin],
    props: ['dealID'],
    methods: {
        getDealFromServer: async function () {
                try {
                    // fetch the details of the deals and the user who published it.
                    let dealInfo = await httpService.methods.httpReq(`api/deals/get/${this.dealID}`, {}, 'get')
                    this.deal = dealInfo.data.deal
                    this.dealPictures = this.deal.pictures
                    this.publisher = dealInfo.data.publisherDetails
                    //if no deal was found
                    if (this.deal.nf === true) {
                        this.notFound = true;
                    }
                } catch (error) {
                    console.error(error)
                    this.$router.push({
                        name: 'notFound'
                    })
                }
            },
            createChat: async function () {
                    this.addUserToChatArray()
                    let chatCreated = await httpService.methods.httpReq('api/chats/createChat', {
                        users: this.users
                    }, 'post')
                    if (chatCreated === false) {
                        return console.log(false)
                    }
                    console.log(true);
                    console.log(chatCreated)
                },
                addUserToChatArray: function () {
                    //will insert the two users to array so they
                    //will be send to server
                    this.users[0] = this.$store.getters.getUserName
                    this.users[1] = this.deal.publisher
                },
                openContactPublisherModal: function () {
                    this.addUserToChatArray();
                    this.$modal.open({
                        props: {
                            dealTitle: this.deal.title,
                            users: this.users
                        },
                        parent: this,
                        component: contactPublisherModal,
                        hasModalCard: true,
                    });
                },
                reportDeal: function () {
                    this.$modal.open({
                        props: {
                            dealID: this.deal._id,
                            publisher: this.deal.publisher
                        },
                        parent: this,
                        component: dealReportModal,
                        hasModalCard: true,
                    });
                },
                checkIfSamePublisher:function(){
                  if(this.deal.publisher===this.$store.getters.getUserName){
                      console.log('you own this deal')
                    this.isSamePublisher=true
                  }
                }
    },
    async created() {
        await this.getDealFromServer()
        this.checkIfSamePublisher();
    },
    beforeDestroy() {
        this.error = null
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
.notFoundMessage {
    position: absolute;
    width: 600px;
    height: 200px;
    top: 50%;
    left: 45%;
    margin: -100px 0 0 -150px;
}

.sliderImage {
    height: 300px;
    width: 600px;
    -webkit-box-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.slide {
    color: #fff;
    height: 300px;
    position: relative;

}

.dealPageContainer {
    margin-top: 73px;
    width: 75em;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.swiper-button-next {
    right: 20%;
}

.swiper-button-prev {
    left: 20%;
}

.container {
    margin-top: 73px;
    width: 75em
}

.topMargin {
    margin-top: 2rem;
}

.buttonLocation {
    margin-top: 2%;
}
</style>
