<template>
  <div class="card is-rounded">
  <div class="card-image">
    <figure class="image is-2by3">
      <img  :src="deal.pictures[0].secure_url" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
      </div>
    </div>
    <div class="content">
      <p><strong>{{deal.title}}</strong></p>
      <h2 class="subtitle is-6">Posted: {{formatDate(deal.start)}}</h2>
      <h2 class="subtitle is-6">Category: {{deal.category}}</h2>
    </div>
  </div>
  <div class="buttons is-centered">
  <span class="button is-success" @click="goToDeal(deal)">Go To Deal</span>
  <span class="button is-info" @click="openModal(deal)">Quick Look</span>
</div>
    </div>
</template>


<script>
import {dateMixin} from "../../utils/dateMixin.js"
import quickLookModal from "../modals/quickLookModal.vue";

export default {
  name: "dealCard",
  data() {
    return {
    };
  },
  mixins:[dateMixin],
  props:['deal'],
  methods: {
    goToDeal: function(deal){
      this.$router.push({name:'dealPage',params: {dealID:deal._id}});
    },
    openModal: function(deal) {
      this.$modal.open({
        props: { deal: deal },
        parent: this,
        component: quickLookModal,
        hasModalCard: true
      });
    }


  }
}
</script>

<style scoped>
.card-image {
  margin-top: 15px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 370px;
  text-align: center;
}
.image img {
  height: 209.23px;
}

</style>
