<template>
<div>
  <div class=columns>
    <div class="column is-2">
  <aside class="menu">
    <ul class="menu-list">
      <p class="menu-label">
        Dashboard
      </p>
      <ul class="menu-list">
      <li>
        <router-link :to="{name: 'dashboard'}">Dashboard</router-link>
      </li>
      </ul>      
      <p class="menu-label">
        Users
      </p>
      <ul class="menu-list">
        <li><router-link :to="{ name: 'manageUsers' }">Manage Users</router-link></li>
      </ul>
      <p class="menu-label">
        Deals
      </p>
      <ul class="menu-list">
      <li><router-link :to="{name: 'manageDeals'}">Manage Deals</router-link></li>
      </ul>
      <p class="menu-label">
        Categories
      </p>
      <ul class="menu-list">
      <li>
        <router-link :to="{name: 'manageCategories'}">Manage Categories</router-link></li>
      </ul>
      <!-- <li><router-link :to="{name: 'dealIntelegence'}">Deal intellegence</router-link></li> -->
    </ul>
  </aside>
  </div>
  <div class="column is-8">
  <router-view></router-view>
  </div>
  </div>
  </div>

</template>

<script>
export default {
  name: "adminDashboard",
  data() {
    return {
    };
  },
  methods: {
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.columns{
  margin-top: 55px;
}
</style>
