<template>
<div>
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Hello, {{this.$store.getters.getUserName}}.
                            </h1>
                            <h2 class="subtitle">
                                We hope you are having a great day!
                            </h2>
                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <h1 class="title has-text-centered"> Users</h1>
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ activeUsers }}
                                <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="false"></b-loading>
                                </p>
                                <p class="subtitle">Total Registered Users</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{blockedUsers}}
                                <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="false"></b-loading>
                                </p>
                                <p class="subtitle">Blocekd Users</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{  newUsers }}
                                    <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="false"></b-loading> 
                                </p>
                                <p class="subtitle">New Users Today</p>
                            </article>
                        </div>
                    </div>
                </section>
                <br>
                <section class="info-tiles">
                    <h1 class="title has-text-centered"> Deals</h1>
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ newDeals }}
                                    <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="false"></b-loading> 
                                </p>
                                <p class="subtitle">New Deals</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ inactiveDeals }}
                                    <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="false"></b-loading> 
                                </p>
                                <p class="subtitle">Inactive Deals</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ activeDeals }}
                                    <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="false"></b-loading> 
                                </p>
                                <p class="subtitle">Active Deals</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ inactiveDeals }}
                                    <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="false"></b-loading> 
                                </p>
                                <p class="subtitle">Inactive Deals</p>
                            </article>
                        </div>
                    </div>
                </section>
            </div>

</template>

<script>
import httpService from '../services/httpService'
export default {
  name: "adminDashboard",
  data() {
    return {

            activeUsers:0,
            blockedUsers:0,
            newDeals:0,
            newUsers:0,
            inactiveDeals:0,
            activeDeals:0,
            isLoading:false,
            isFullPage:false
    };
  },
  methods: {
      getAdminGeneralData:async function(){
          this.isLoading=true
          let dataFromServer=await httpService.methods.httpReq('api/admin/generalData',{username:this.$store.getters.getUserName},'post')
          this.activeUsers=dataFromServer.data.usersData.activeUsers
          this.blockedUsers=dataFromServer.data.usersData.blockedUsers
          this.newUsers=dataFromServer.data.usersData.newUsersToday
          this.newDeals=dataFromServer.data.dealsData.newDealsByDay
          this.inactiveDeals=dataFromServer.data.dealsData.inactiveDeals
          this.activeDeals=dataFromServer.data.dealsData.activeDeals
          this.isLoading=false
      }
  },
 created(){
      this.getAdminGeneralData();
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
