<template>
<div>
  <section>
    <br>
            <b-field grouped>
            <p class="control">
                <b-field label="Publisher" placeholder="Search..." >
                    <b-input v-model="deal.publisher" placeholder="Search..."></b-input>
                </b-field>
            </p>
            <p class="control">
                <b-field label="Country"  placeholder="Search..." >
                    <countryField @select="setCountryAndContinent" :size="'is-meduim'"></countryField>
                </b-field>
            </p>
            <p class="control">
                <b-field label="Deal ID"  placeholder="Search..." >
                    <b-input v-model="deal._id" placeholder="Search..." ></b-input>
                </b-field>
            </p>    
        </b-field>
            <b-field grouped>
            <p class="control">
                <b-field label="Duration" placeholder="Search..." >
                    <b-select v-model="deal.duration" placeholder="Select Duration">
                        <option value=""></option>
                        <option value="10">10 Days</option>
                        <option value="20">20 Days</option>
                        <option value="30">30 Days</option>
                    </b-select>
                </b-field>
            </p>
            <p class="control">
                <b-field label="Active" placeholder="Search...">
                    <div class="block">
                        <b-checkbox v-model="deal.active">
                            {{ deal.active }}
                        </b-checkbox>
                        </div>
                        </b-field>
            </p>
        </b-field>
        <button  @click="getDealInfo" class="button is-info">Search</button>

        <br>
        </section>
    <section>

        <b-table class="table-width"
            :data="data"
            :striped="isStriped"
            :narrowed="isNarrowed"
            :hoverable="isHoverable"
            :loading="isLoading"
            :mobile-cards="hasMobileCards"
            :detail-key="deal._id"
            :paginated="true" per-page="10">

            <template slot-scope="props">
                <b-table-column field="id" label="ID" numeric centered>
                    {{ props.row._id || 'N/A'  }}
                </b-table-column>

                <b-table-column field="title" label="Title" centered>
                    {{ props.row.title || 'N/A'  }}
                </b-table-column>

                <b-table-column field="country" label="Country" centered>
                    {{ props.row.country || 'N/A' }}
                </b-table-column>

                <b-table-column field="openForBids" label="Open For Bids" width="136" centered>
                    {{ props.row.openForBids }}
                </b-table-column>

                <b-table-column field="start" label="Start" centered>
                    {{  formatDate(props.row.start) || 'N/A'  }}
                </b-table-column>

                <b-table-column field="end" label="End" centered>
                    {{  formatDate(props.row.end) }}
                </b-table-column>

                <b-table-column field="active" label="Active" centered>
                    {{ props.row.active }}
                </b-table-column>

                <b-table-column field="publisher" label="publisher" centered>
                    {{ props.row.publisher }}
                </b-table-column>

                <b-table-column field="actions" label="Actions" width="190" centered>
                    <button v-if="props.row.active" @click="ChangeDealStatus(props.row._id,false)" class="button is-small is-warning">Deactivate</button>
                    <button v-if="!props.row.active"  @click="ChangeDealStatus(props.row._id,true,props.row.duration)" class="button is-small is-primary">Reactivate</button>
                    <button @click="deleteDeal(props.row._id)" class="button is-small is-danger">Delete</button>
                </b-table-column>       
            </template>
            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                        <font-awesome-icon icon="frown" size="5x"></font-awesome-icon>
                        </p>
                        <p>Deal Not Exist</p>
                    </div>
                </section>
            </template>
        </b-table>
    </section>
    </div>

    </template>

<script>
import validationService from "../services/validationService";
import httpService from "../services/httpService";
import blockUserModal from "../modals/blockUserModal";
import deleteUserModal from "../modals/deleteUserModal";
import { dateMixin } from "./../../utils/dateMixin.js";
import { dealsMixin } from "./../../utils/dealsMixin.js";
import deactivatedDealModal from "../modals/deactivateDealModal";
import deleteDealModal from "../modals/deleteDealModal"
export default {
  name: "manageDeals",
  data() {
    return {
      data: [],
      errors: [],
      isEmpty: false,
      isStriped: true,
      isNarrowed: true,
      isHoverable: true,
      isLoading: false,
      hasMobileCards: true,
      username: null,
      country: "",
      publisher: "",
      deal: {
        _id: null,
        country: null,
        duration: null,
        publisher: null,
        continent: null,
        active: null
      }
    };
  },
  mixins: [dateMixin,dealsMixin],
  methods: {
    getDealInfo: async function() {
      this.isLoading = true;
      this.errors = [];
      if (this.errors.length > 0) {
        this.isLoading = false;
        return;
      }
      //setting the search object
      let dealSearchValues = this.removeUnsearchedOptions(this.deal);
      let userDataFromServer = await httpService.methods.httpReq(
        "api/admin/deals/searchDeals",
        { username: this.$store.getters.getUserName, deal: dealSearchValues },
        "post"
      );
      this.data = [];
      this.data = userDataFromServer.data;
      if (this.data.length <= 0) {
        this.isEmpty = true;
      }
      this.isLoading = false;
    },
    removeUnsearchedOptions: function(object) {
      let obj = {};
      let count = 0;
      for (let propName in object) {
        if (
          object[propName] === null ||
          object[propName] === undefined ||
          object[propName] === ""
        ) {
          delete object[propName];
        }
        if (typeof object[propName] === "string" && propName!='continent' && propName!='country') {
          //drop spaces from strings
          object[propName] = object[propName].replace(/\s+/g, "");
        }
      }
      console.log(object);
      return object;
    },
    ChangeDealStatus: async function(deal,reactivate,duration){
      if(reactivate===true){
        this.$modal.open({
        props: { dealID: deal,reactivate:reactivate,duration:duration ,admin:true},
        parent: this,
        component: deactivatedDealModal,
        hasModalCard: true,
        events:{ 'dealStatusChanged': this.getDealInfo}
      });
      }else{
        this.$modal.open({
        props: { dealID: deal, admin:true},
        parent: this,
        component: deactivatedDealModal,
        hasModalCard: true,
        events:{ 'dealStatusChanged': this.getDealInfo}
      });
      }
    },
    deleteDeal: function (dealID) {
            this.$modal.open({
                props: {
                    dealID: dealID,
                    admin:true
                },
                parent: this,
                component: deleteDealModal,
                hasModalCard: true,
                events: {
                    'dealDeletedAdmin': this.getDealInfo
                }
            });
        },
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  margin-top: 100px;
}
.menu {
  width: 15%;
}

.table-width{
    width: 120%;
}

</style>
