<template>
<div>
  <section>
    <br>
        <b-field label="New Category: " grouped>
            <b-input v-model="newCategory"></b-input>
            <p class="control">
                <button @click="addCategory" class="button is-info">Add</button>
            </p>
        </b-field>
        <br>
        </section>
    <section>

        <b-table
            :data="isEmpty ? [] : categories"
            :striped="isStriped"
            :narrowed="isNarrowed"
            :hoverable="isHoverable"
            :loading="isLoading"
            :mobile-cards="hasMobileCards"
            :paginated="true" per-page="10">

            <template slot-scope="props">
                <b-table-column field="id" label="ID">
                    {{ props.row._id || 'N/A'  }}
                </b-table-column>

                <b-table-column field="categoryName" label="Category" >
                    {{ props.row.category_name || 'N/A'  }}
                </b-table-column>

                <b-table-column field="actions" label="Actions">
                    <button @click="updateCategory(props.row._id,props.row.category_name)" class="button is-small is-success">Edit</button>
                    <button @click="deleteCategory(props.row._id)" class="button is-small is-danger">Delete</button>
                </b-table-column>       
            </template>
            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                        <font-awesome-icon icon="frown" size="5x"></font-awesome-icon>
                        </p>
                        <p>No Categories</p>
                    </div>
                </section>
            </template>
        </b-table>
    </section>
    </div>

</template>

<script>
import validationService from '../services/validationService'
import httpService from '../services/httpService'
import deleteCategoryModal from '../modals/deleteCategoryModal'
import notificationService from '../services/notificationService'
import updateCategoryModal from '../modals/updateCategoryModal'

export default {
  name: "manageCategories",
  data() {
            return {
                categories:[],
                errors:[],
                isEmpty: false,
                isStriped: true,
                isNarrowed: true,
                isHoverable: true,
                isLoading: false,
                hasMobileCards: true,
                username:null,
                newCategory:null
            }
  },
  methods: {
    addCategory: async function(){
      this.isLoading=true
      this.errors=[]
      let validateUserName=validationService.methods.validateString(this.newCategory,this.errors,'Category',20,3)
      if(this.errors.length>0){
        this.isLoading=false
        return
      }
      let categoryAdded=await httpService.methods.httpReq('api/admin/categoryAdd',{username: this.$store.getters.getUserName, category: this.newCategory},'post')
      if(categoryAdded.data===true){
        notificationService.methods.openSnackBar('Category Added!','is-success','is-top-right')
        this.isLoading=false
          return this.getCategories();
      }
      this.isLoading=false
      notificationService.methods.openSnackBar('Unable to Add Category please try again, please try again','is-success','is-top-right')
    },
    getCategories: async function(){
        this.isLoading=true
        let categories= await httpService.methods.httpReq('api/categories/get',{},'get')
        this.categories=categories.data
        this.isLoading=false
    },
    deleteCategory: async function(catID){
        this.$modal.open({
            props: { catID: catID},
            parent: this,
            component: deleteCategoryModal,
            hasModalCard: true,
            events:{ 'categoryIsDeleted': this.getCategories}
      });
    },
    updateCategory: async function(catID,category){
        this.$modal.open({
            props: { catID: catID,categoryName: category},
            parent: this,
            component: updateCategoryModal,
            hasModalCard: true,
            events:{ 'categoryIsUpdated': this.getCategories}
      });
    }
  },
  beforeMount(){
      this.getCategories();
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
