<template>
<div>
  <section>
    <br>
        <label class="label">User name: </label>
        <b-field grouped>
            <b-input v-model="username" placeholder="Search..." required></b-input>
            <p class="control">
                <button @click="getUserInfo" class="button is-info">Search</button>
            </p>
        </b-field>
        <br>
        </section>
    <section>
        <b-table
            :data="isEmpty ? [] : data"
            :striped="isStriped"
            :narrowed="isNarrowed"
            :hoverable="isHoverable"
            :loading="isLoading"
            :mobile-cards="hasMobileCards">

            <template slot-scope="props">
                <b-table-column field="id" label="ID" numeric centered>
                    {{ props.row._id || 'N/A'  }}
                </b-table-column>

                <b-table-column field="username" label="User Name" >
                    {{ props.row.username || 'N/A'  }}
                </b-table-column>

                <b-table-column field="fullName" label="Full Name" >
                    {{ props.row.fullName || 'N/A' }}
                </b-table-column>

                <b-table-column field="country" label="Country" >
                    {{ props.row.country || 'N/A' }}
                </b-table-column>

                <b-table-column field="type" label="Type" >
                    {{ props.row.type || 'N/A'  }}
                </b-table-column>

                <b-table-column field="active" label="Active" >
                    {{ props.row.active }}
                </b-table-column>

                <b-table-column field="actions" label="Actions" centered>
                    <button v-if="props.row.active" @click="blockUser(true,props.row._id)" class="button is-small is-warning">Block</button>
                    <button v-if="!props.row.active"  @click="blockUser(false,props.row._id)" class="button is-small is-primary">unBlock</button>
                    <button @click="deleteUser(props.row._id)" class="button is-small is-danger">Delete</button>
                </b-table-column>       
            </template>
            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                        <font-awesome-icon icon="frown" size="5x"></font-awesome-icon>
                        </p>
                        <p>User Not Exist</p>
                    </div>
                </section>
            </template>
        </b-table>
    </section>
    </div>

    </template>

<script>
import validationService from '../services/validationService'
import httpService from '../services/httpService'
import blockUserModal from '../modals/blockUserModal'
import deleteUserModal from '../modals/deleteUserModal'

export default {
  name: "manageUsers",
  data() {
            return {
                data:[],
                errors:[],
                isEmpty: false,
                isStriped: true,
                isNarrowed: true,
                isHoverable: true,
                isLoading: false,
                hasMobileCards: true,
                username:null
            }
  },
  methods: {
    getUserInfo: async function(){
      this.isLoading=true
      this.errors=[]
      let validateUserName=validationService.methods.validateUserName(this.username,this.errors)
      console.log(this.errors)
      if(this.errors.length>0){
        this.isLoading=false
        return
      }
      let userDataFromServer=await httpService.methods.httpReq('api/admin/getUsers',{username: this.$store.getters.getUserName,user: this.username},'post')
      this.data=userDataFromServer.data
      console.log(this.data)
      if(this.data.length<=0){
        this.isEmpty=true;
      }
      this.isLoading=false
    },
    blockUser: async function(toBlock,user_id){
        this.$modal.open({
            props: { userID: user_id, block: toBlock},
            parent: this,
            component: blockUserModal,
            hasModalCard: true,
            events:{ 'userIsBlocked': this.getUserInfo}
      });
    },
    deleteUser: async function(user_id){
        this.$modal.open({
            props: { userID: user_id },
            parent: this,
            component: deleteUserModal,
            hasModalCard: true,
            events:{ 'userIsDeleted': this.getUserInfo}
      });
    }
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.container{
  margin-top: 100px;
}
.menu{
  width: 15%
}


</style>
