<template>
<div class="container">
    <br>
    <div class="content is-meduim has-text-centered">
        <h1>About Boomer</h1>
        <p>
            Boomer is a modern b2b barter deals platform, allowing businesses all around the world to trade goods and services without any money expenses.
            With the power of the community and the global world
            businesses through boomer will discover new ways to improve and
            increase their business as along with saving the environment.
        </p>
        <p>
            The site was built by two students for their final project of college. They invested their heart and soul and had long days with no sleep.
            The system & site built with the newest technologies out there.
        </p>
    </div>
</div>
</template>

<script>
export default {
    name: "about",
    data() {
        return {};
    },
};
</script>

<style scoped>
</style>
