<template>
<div>
<!-- Template for a Form -->
<div>

</div>
<!-- Template for a Table -->
</div>
</template>

<script>
import httpService from '../components/services/httpService.vue'
export default {
    name:'categories',
  data(){
    return {
      categories: [],
      categoryFilter:[],
}
  },props: ['market'],
  methods: {
    getCategories: async function(){
        this.isLoading=true
        let categories= await httpService.methods.httpReq('api/categories/get',{},'get')
        this.categories=categories.data
        this.isLoading=false
    }
  },
  beforeMount() {
      this.getCategories();
  },
  computed: {
  }
}
</script>

<style scoped>

</style>



