<template>
<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <div id=titles>
                    <img src="../assets/logowithblacksub.png" alt="Logo">
                    <p class="subtitle is-3 has-text-grey has-text-centered">Contact</p>
                    <br>
                </div>
                <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="false"></b-loading>
                <div class="box has-text-centered">
                    <p v-if="errors.length">
                        <b>Please correct the following error(s):</b>
                        <ul>
                            <li class="formError" :key="error" v-for="error in errors">{{ error }}</li>
                        </ul>
                    </p>
                    <form v-on:submit="sendContactMessage" method="post">
                        <div class="field">
                            <div class="control">
                                <label class="label">Email</label>
                                <input class="input" type="email" placeholder="Your Email"  v-model="message.email" required>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label">Name</label>
                                    <input class="input" type="text" placeholder="John Smith" v-model="message.name" required>
                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="label">Subject</label>
                                        <input class="input is-meduim" type="text" placeholder="Boomer inc." v-model="message.subject" required>
                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <label class="label">Description</label>
                                            <textarea class="textarea is-meduim" name="" id="" cols="20" rows="5" v-model="message.description"></textarea>
                                        </div>
                                    </div>
                                    <button class="button is-block is-success is-meduim is-fullwidth">Send</button>
                    </form>
                </div>
                <p class="has-text-grey">
                    <router-link class="formsfooter" :to="{ name: 'Login'}">Login</router-link> &nbsp;·&nbsp;
                    <router-link class="formsfooter" :to="{ name: 'forgotPassword'}">Forgot Password</router-link> &nbsp;·&nbsp;
                    <router-link class="formsfooter" :to="{ name: 'contactb'}">Need Help?</router-link>
                </p>
            </div>
        </div>
    </div>
</section>
</template>

<script>
import httpService from '../components/services/httpService'
import validationService from '../components/services/validationService'
import notificationService from '../components/services/notificationService'
export default {
    name: "contact",
    data() {
        return {
            errors: [],
            isFullPage: true,
            isLoading: false,
            message: {}
        };
    },
    methods: {
        sendContactMessage: async function (e) {
            e.preventDefault();
            this.errors = [];
            validationService.methods.validateContactMessage(this.message, this.errors)
            if (this.errors.length <= 0) {
                let messageSent = await httpService.methods.httpReq('api/sendContactMessage', this.message, 'post')
                // console.log(messageSent)
                if (messageSent.data === true) {
                    notificationService.methods.openSnackBar('Message Sent! Thank you', 'is-success', 'is-top-right')
                    this.message = {}
                    this.$router.push({name:'mainpage'})
                }
            } else {
                notificationService.methods.openSnackBar('Message Was Not Sent,please check your internet connection and try again', 'is-danger', 'is-top-right')
            }
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
.hero.is-success {
    background: #f2f6fa;
}
</style>
