<template>
<div>
    <b-autocomplete 
    v-model="country" 
    placeholder="Start Typing..." 
    :open-on-focus="openOnFocus" 
    :data="filteredCountries" 
    field="country" 
    @select="option=> option != null ? this.$emit('select',option):this.$emit('select',{country:null,continent:null})" 
    :size=size>
    </b-autocomplete>
</div>
</template>

<script>
import httpService from '../components/services/httpService.vue'
export default {
    name: 'countryField',
    data() {
        return {
            countries: [],
            openOnFocus: true,
            countryObject: null,
            country: null,
        }
    },
    props: ['value', 'size'],
    methods: {
        getCountries: async function () {
                try {
                    let countries = await httpService.methods.httpReq("api/countrylist", {}, "get");
                    this.countries = countries.data;
                    console.log('countries fetched from server')
                } catch (e) {
                    console.error("cannot get country list from server: " + e);
                }
            },
        setCountryObjectValue: function (option) {
            this.countryObject = option
            },
        setCountry3:function(value){
          this.country=value
        },
    },
    created() {
        this.getCountries();
        // this.setCountryfunction();
    },
    computed: {
        filteredCountries: function () {
            return this.countries.filter(option => {
                if (option != null && this.country != null) {
                    return (
                        option.country
                        .toString()
                        .toLowerCase()
                        .indexOf(this.country.toLowerCase()) >= 0
                    );
                }
            });
        },
    }
}
</script>

<style scoped>

</style>
