<template>
<div>
 <div id="dealsContainer">
<div class="field has-addons">
            <input id="searchString" class="input" type="text" placeholder="Start Typing The Deal You Are Looking For" width="500" v-model="searchString">
</div>
  <div v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="4">
<div class="grid-container">
  <div v-if="!noDeals" class="grid-item" v-for="deal in filteredDeals" :key="deal._id">
  <dealCard :deal=deal></dealCard>
  </div>
  <section v-if="noDeals" class="section">
      <div class="content has-text-grey has-text-centered">
          <p>
          <font-awesome-icon icon="frown" size="5x"></font-awesome-icon>
          </p>
          <p>Deal Not Exist</p>
      </div>
  </section>
  </div>
</div>
</div>
</div>


</template>
<script>
import httpService from "./services/httpService.vue";
import quickLookModal from "./modals/quickLookModal.vue";
import {dateMixin} from "../utils/dateMixin.js"
import { mapGetters } from 'vuex'


export default {
  name: "dealsArea",
  data() {
    return {
      deals: [],
      result: [],
      searchString: this.$route.query.searchString,
      pageNum: 1,
      pagenumSearch:1,
      busy: false,
      data: [],
      count: 0,
      noDeals:false
    };
  },mixins:[dateMixin],
  methods: {
    goToDeal: function(deal){
      this.$router.push({name:'dealPage',params: {dealID:deal._id}});
    },
    //will load the deals from server, 4 at a scrolling action
    loadMore: async function() {
      console.log(this.filters);
      this.busy = true;
      var dealsFromDb = await httpService.methods.httpReq("api/deals/get",
        { filters: this.filters, skipNum: this.pageNum,username: this.username },
        "post"
      );
      setTimeout(() => {
        if (dealsFromDb.data.length <= 0) {
          return
        }
        for (var i = 0; i < dealsFromDb.data.length; i++) {
          this.deals.push(dealsFromDb.data[i]);
        }
        this.busy = false;
      }, 200);
      this.pageNum++;
    },
        //will load the deals from server, 4 at a scrolling action
    // loadMoreBySearch: async function() {
    //   console.log(this.$store.getters.getFilters);
    //   this.busy = true;
    //   var dealsFromDb = await httpService.methods.httpReq("api/deals/get",
    //     { filters: this.$store.getters.getFilters, skipNum: this.pagenumSearch },
    //     "post"
    //   );
    //   setTimeout(() => {
    //     if (dealsFromDb.data.length <= 0) {
    //       return;
    //     }
    //     for (var i = 0; i < dealsFromDb.data.length; i++) {
    //       this.deals.push(dealsFromDb.data[i]);
    //     }
    //     this.busy = false;
    //   }, 200);
    //   this.pageNumSearch++;
    // },
    openModal: function(deal) {
      this.$modal.open({
        props: { deal: deal },
        parent: this,
        component: quickLookModal,
        hasModalCard: true
      });
    },resetScrollData:function(){
        this.deals=[];
        this.pageNum=1
    }
  },watch:{
    filters:{
      handler:function(){
        this.resetScrollData();
        this.loadMore();
      },
      deep:true
    }
  },
  created() {
    //will reset the page number so
    //he can start fetching them again
    this.pagenum=1;
  },
  computed:{
    ...mapGetters({ 
      filters: 'getFilters',
      username:'getUserName'
    }),
       filteredDeals() {
         if(!this.searchString){
           return this.deals
         }
      return this.deals.filter(deal => {
        return deal.title.toLowerCase().includes(this.searchString.toLowerCase())
      });
    }
    }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#dealsContainer {
  margin: auto;
  width: 50%;
  /*border: 3px solid green;-->*/
  padding: 1px;
  position: absolute;
  left: 20%;
  top: 11%;
  width: 75%;
  text-align: center;
  font-size: 18px;
  margin-bottom: 5%;
  max-width: 100%;

}
/* .card-image {
  margin-top: 15px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 370px;
  text-align: center;
} */

/* .image img {
  height: 209.23px;
} */

.input {
  width: 800px;
}
.field.has-addons {
  margin-left: 180px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  padding: 0px;
  position: relative;
  align-content: center;
}

.grid-item {
  padding: 5px;
  font-size: 18px;
  text-align: center;
  padding-bottom: 0px;
  padding-right: 0px;
}
</style>
