<template>
<footer class="footer footerPadding">
  <div class="content">
    <div class="columns">
      <div class="column is-5 linkTitle">
        <img src="../assets/logo.png" alt="logo" width="250">
        <p>&copy; 2018 Boomer. All rights reserved. <br>
        made with
        <font-awesome-icon color="#E13F3D" icon="heart" size="1x"></font-awesome-icon>
        in Israel 
        by Omer and Yarden
        </p>
      </div>
      <div class="column is-2">
        <p class="linkTitle">Deals</p>
        <router-link class="footerLinks" :to="{name: 'market'}">Market</router-link> <br>
        <router-link class="footerLinks" :to="{ name:'forms', params:{formName:'addDeal', username:this.$store.getters.getUserName, dealID:'new'}}">Post Deal</router-link>
      </div>
      <div class="column is-2">
        <p class="linkTitle">Community</p>
        <router-link class="footerLinks" :to="{name: 'helpCenter'}">Help Center</router-link><br> <!--TO DO -->
        <router-link class="footerLinks" :to="{name: 'about'}">About</router-link><br> <!--TO DO -->
        <router-link class="footerLinks" :to="{ name:'contactb'}">Contact</router-link> 
      </div>
      <div class="column is-2">
        <p class="linkTitle">Support</p>
        <router-link class="footerLinks" :to="{name: 'myDeals'}">Manage Deals</router-link>
        <br>
        <router-link class="footerLinks" :to="{name: 'profileSettings'}">Profile Settings</router-link>
        <br>
        <router-link class="footerLinks" :to="{name: 'inbox'}">Inbox</router-link>
      </div>
    </div>
  </div>
  <div>
    Icons made by 
    <a href="http://www.freepik.com" title="Freepik">
    Freepik
    </a> 
    from 
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
    is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
  CC 3.0 BY
  </a>
  </div>
</footer>
</template>
<script>
export default {
    name:'footerb',
}
</script>
<style scoped>

.footerPadding{
  padding-top: 7%;
  padding: 5%;
  font-weight: 100;
  background-color: #07162B;
}

.footerLinks{
  cursor: pointer;
  color: #A7ADB5;
  font-weight: 400;
}

.footerLinks:hover{
  color: white;
}

.linkTitle{
  color: white;
  font-weight: 400;
}

img{
  margin-left: -30px;
}

</style>



