<template>
  <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <div id=titles>
                        <img src="../assets/logowithblacksub.png" alt="Logo">
                        <h3 class="title has-text-grey has-text-centered"> Please Enter The Email You Registered With</h3>
                    </div>
                    <div class="box has-text-centered">
                        <div id="errors">
                            <ul>
                            <li class="subtitle has-text-danger" v-for="message in messagess" :key="message">{{ message }}</li>
                            </ul>
                            <br>       
                        </div>
                        <form v-on:submit="resetPassword" method="post">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="email" placeholder="Your Email" v-model="username" required>
                                </div>
                            </div>

                            <button class="button is-success is-large is-fullwidth">Reset Password</button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <router-link class="formsfooter" :to="{ name: 'signUp'}">Sign Up</router-link> &nbsp;·&nbsp;
                        <router-link class="formsfooter" :to="{ name: 'Login'}">Login</router-link> 
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import authService from "./services/authService.vue";
import httpServiceVue from './services/httpService.vue';
    export default {
        name: "forgotPassword",
        data() {
            return {
                username: null,
                password: null,
                message:null,
                messagess:[],
                passwordResetDone:false
            };
        },
        methods: {
            resetPassword: async function(e) {
                e.preventDefault();
                let passwordResetDoneOk=await httpServiceVue.methods.httpReq('api/users/passwordReset',{username:this.username},'post')
                this.messagess=passwordResetDoneOk.data.errors
            },
    },
    beforeDestroy(){
        this.passwordResetDone=false
    }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    .hero.is-success {
        background: #f2f6fa;
    }

    .hero .nav,
    .hero.is-success .nav {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

  
    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(88, 59, 59);
        opacity: 1;
        /* Firefox */
    }
    #titles{
        margin-bottom: 20px;
        margin-right: 30px;
    }

</style>
