<template >
<div>
  <addDeal v-if="formName=== 'addDeal'"></addDeal>
  <editDeal v-if="formName=== 'editDeal'" :dealID=dealID></editDeal>
</div>

</template>

<script>
export default {
  name: "forms",
  props:['formName','dealID','username'],
  data() {
    return {
    };
  },methods:{
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
