<template>
    <section>
        <div class=container>
        <div class="column is-12">
            <h1 class="title is-1"> Have a Question? </h1>
            <h1 class="title subtitle"> Didnt found the answer your were looking for? 
              <router-link :to="{name:'contactb'}">Send us a message</router-link> 
            </h1>
        <br>
        <div v-for="question in questions" :key="question.questions">
        <accordion-item :question="question"></accordion-item>
        <br>
        </div>
 </div>
   </div>
    </section>
</template>

<script>
export default {
  name: "helpCenter",
  data() {
    return {
      isOpen: true,
      questions:[
          {question:'How can i post a deal?',answer:'you can post a deal from the top navigation bar, just click the “pos deal” button.'},
          {question: 'Is barter taxable?', answer:'My answer here is not professional and requires you to consult with a CPA who is authorized to answer such questions,'+ 
                     'and to the best of my understanding and in general, if there is a barter between businesses, professionals who make a living on a regular basis are liable to tax.'+ 
                     '(Income tax and VAT). If the barter is for business purposes, it can be recorded as a business expense and offset in the case of a licensed company or dealer.'+
                     'If you are not a business, or are a barter in a field that is not your business, or something unusual, the barter is usually not liable for tax on a one-time transaction,'+
                     'please consult a CPA to avoid breaking the law.'},
          {question:'How can i edit a deal?',answer:'you can edit a deal from your deals dashboard'},
          {question:'Where do i update my personal information and settings?',answer:'You can edit your info on the profile setting section on the control panel'},
          {question:'Why do you need details from me? And who can see it',answer:'the details are necessary for checking your integrity we want to verify that you are actually a human and interested in making barter deals'},
          {question:' Is the service free?',answer:'yes! Boomer is completely free! But you have to register first.'},
          {question:'So how do you make money?',answer:'we are collecting non valuable information about the deals and selling this info'},
          {question:'I cant login to my account what should i do?',answer:' in this case, you need to contact our support team and they will provide assistance on this matter'},
          {question:'My deal suddenly becomes inactive, why?',answer:'if we decided to deactivate your deal, it means that you violate our policy'+
                    'You will get an email when a situation like this happened and we will'+
                    'provide you the necessary steps to get your deal back to the market.'},
      ]
    };
  },
  methods: {
    toggleAccordion: function(event) {
        this.isOpen = !this.isOpen;
    }
  },
  computed: {
    accordionClasses: function() {
      return { "is-closed": !this.isOpen };
    }
  }
};
</script>
<style scoped>
.container {
  width: 800px;
  margin: 0 auto;
}

.message {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.message-header {
  cursor: pointer;
}

.message-body {
  padding: 0;
  overflow: hidden;
  transition: 0.3s ease all;
}

.is-closed .message-body {
  max-height: 0;
}


.message-content {
  padding: 20px;
}

.title{
    
  height: 60px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
</style>
