<template>
  <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <div class="logoposition">
                    <img src="../assets/logowithblacksub.png" alt="Logo">
                    </div>
                    <div id=titles>
                        <p class="subtitle has-text-grey has-text-centered">Please login to proceed.</p>
                    </div>
                    <div class="box has-text-centered">
                        <div id="errors">
                            <ul>
                            <li class="subtitle has-text-danger" :key="error" v-for="error in errors">{{ error }}</li>
                            </ul>
                            <br>       
                        </div>
                        <form v-on:submit="loginUser" method="post">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="email" placeholder="Your Email" v-model="user.username" required>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="Your Password" v-model="user.password" required>
                                </div>
                            </div>
                            <button class="button is-success is-large is-fullwidth">Login</button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <router-link class="formsfooter" :to="{ name: 'signUp'}">Sign Up</router-link> &nbsp;·&nbsp;
                        <router-link class="formsfooter" :to="{ name: 'forgotPassword'}">Forgot Password</router-link> &nbsp;·&nbsp;
                        <router-link class="formsfooter" :to="{ name: 'contactb'}">Need Help?</router-link>
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import authService from "./services/authService.vue";
import validationService from "./services/validationService.vue"
import navBar from "./navBar.vue";
    export default {
        name: "Login",
        data() {
            return {
                errors: [],
                user:{
                    username: null,
                    password: null
                }
            };
        },
        methods: {
            loginUser:async  function(e) {
              e.preventDefault();
              this.errors=[];
              var formVal=validationService.methods.validateUserLogin(this.user,this.errors)
              if(formVal===true){
                    this.errors=[];
                    this.errors=await authService.methods.authenticateUser(this.user);
                    if(this.errors===true)
                    {
                        //dont have errors
                       this.$router.push({name:'mainpage'});
                    }
                    else{
                        //have errors
                      return;
                    }
                    }
                },
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    .hero.is-success {
        background: #f2f6fa;
    }

    .hero .nav,
    .hero.is-success .nav {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

  
    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(88, 59, 59);
        opacity: 1;
        /* Firefox */
    }
    #titles{
        margin-bottom: 20px;
        margin-right: 30px;
    }
    .logoposition{
        padding-top: 10px
        
    }
</style>
