<template>
<div class="is-desktop is-tablet is-mobile">
    <!------------------------Main image section-------------------------->
    <section class="hero is-info is-small heroImage">
        <div class="hero-body">
            <div class="containerheader">
                <h1 class="subtitle is-2 is-light">
                    A Modern B2B Barter Deals Platform
                    <br>
                    Making Deals Was Never That Easy
                </h1>
                    <div class="field is-grouped">
                        <p class="control">
                            <router-link class="button is-boomer is-large" :to="{name:'forms', params:{formName:'addDeal',username:this.$store.getters.getUserName || 'new',dealID:'new'}}">Post Deal</router-link>
                        </p>
                        <p class="control">
                            <router-link class="button is-boomer is-first is-large" :to="{name: 'market'}">Search Deals</router-link>
                        </p>
                    </div>
                    <br>
                    <div class="video">
                        <!-- <vimeo-player :options={portrait:0,byline:0,title:0} :video-id="291197908"></vimeo-player> -->
                        <div style="padding:56.25% 0 0 0;position:relative;">
                            <iframe src="https://player.vimeo.com/video/292220539?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <!------------------------Benefits Section-------------------------->
    <div class="hero whitesection">
        <section class="section">
            <div class="container">
                <h2 class="title is-3 has-text-centered marginBottom">Exactly What Your Business Needs</h2>
                <div class="grid-container marginLeft">
                    <div class="columns">
                        <div class="column is-4">
                            <figure class="image is-128x128 imagesection2">
                                <img src="../assets/lock.png" width="200" height="auto">
                            </figure>
                            <h3 class="title is-4 textAlignCenter">
                                Secure and reliable
                            </h3>
                                <h4 class="subtitle is-5 textAlignCenter">
                                    We take pride in providing a secure and solid
                                    platform to our customers with administrative
                                    support and end to end encryption
                                </h4>
                        </div>
                        <div class="column is-4">
                            <figure class="image is-128x128 imagesection2">
                                <img src="../assets/deal.png" width="200" height="auto">
                            </figure>
                            <h3 class="title is-4 textAlignCenter">Optimization of Resources</h3>
                                <h4 class="subtitle is-5 textAlignCenter">
                                    Trading is one of the oldest social activities of human beings.
                                    Our vision is a world in which trading, through the internet
                                    helps business grow, increase profitability, reach new customers
                                    and create collaborations.
                                </h4>
                        </div>
                        <div class="column is-4">
                            <figure class="image is-128x128 imagesection2">
                                <img src="../assets/chats.png" width="200" height="auto">
                            </figure>
                            <h3 class="title is-4 textAlignCenter">Easy Communication</h3>
                            <h4 class="subtitle is-5 textAlignCenter">
                                We provide an easy, secure and full
                                communication between our users which includes
                                a private chat and contact information.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!------------------------Latest deals Section-------------------------->
    <div class="hero greySection">
        <section class="section">
        <div class="container align-container">
            <h2 class="title is-3 has-text-centered marginBottom">Latest Barter Deals</h2>
            <div class="grid-container container">
                <div class="grid-item" v-for="deal in deals" :key="deal._id">
                    <dealCard :deal=deal></dealCard>
                </div>
            </div>
        </div>
        </section>
    </div>

    <!------------------------Categories Section-------------------------->
    <div class="hero">
        <section class="section">
            <div class="container">
                <h2 class="title is-3 has-text-centered paddedBottom2">Categories</h2>
                <div class="grid-container marginLeft container">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by3">
                                <img class="img1" src="../assets/sports.jpg" alt= "Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Sports</h4>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by3">
                                <img class="img1" src="../assets/goods.jpg" alt= "Image">
            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Goods</h4>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by3">
                                <img class="img1" src="../assets/buildings.jpg" alt= "Image">
            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Buildings</h4>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by3">
                                <img class="img1" src="../assets/technology.jpg" alt= "Image">
            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Websites and Technology</h4>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by3">
                                <img class="img1" src="../assets/marketing.jpg" alt= "Image">
            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Marketing and Advertising</h4>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by3">
                                <img class="img1" src="../assets/courses.jpg" alt= "Image">
            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Courses and Workshops</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

    <!------------------------global Section-------------------------->
    <div class="hero greySection">
        <section class="section">
            <div class="container">
                <h2 class="title is-3 has-text-centered marginBottom">Worldwide Barter Deals</h2>
                <h2 class="subtitle is-5 has-text-centered">
                    Barter deals from all over the world. The global world is your chance to grow!</h2>
                <figure class="imagesection5">
                    <img src="../assets/worldwide.png" width="200">
                </figure>
            </div>
        </section>
    </div>
    <!------------------------xxx Section-------------------------->
    <!-- <section class="section">
        <div class="container">
            <h1 class="title">Its all about buisness</h1>
            <h2 class="subtitle">
                A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
            </h2>
        </div>
    </section> -->

    <footerb></footerb>

</div>
</template>

<script src="https://player.vimeo.com/api/player.js"></script><script>
import notificationService from './services/notificationService.vue';
import httpService from "./services/httpService.vue";
import quickLookModal from "./modals/quickLookModal.vue";
import {
    mapGetters
} from 'vuex'
import {
    offline
} from '../utils/offline.js'
export default {
    name: 'mainpage',
    data() {
        return {
            search: '',
            deals: [],
            result: [],
            searchString: ''
        };
    },
    mixins: [offline],
    methods: {
        getMainPageDeals: async function () {
                try {
                    let latestDeals = await httpService.methods.httpReq('api/mainPage/getDeals', {}, 'get')
                    //check if latest deal is full
                    if (latestDeals === false) {
                        return
                    }
                    this.deals = latestDeals.data
                } catch (error) {
                    this.offlineMessage();
                }
            },
            goToCategory: function (category) {
                this.$router.push({
                    path: `market/`
                });
            }
    },
    beforeMount() {
        this.getMainPageDeals();
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

#mainPageContainer {
    text-align: center;
    font-size: 18px;
    margin-bottom: 5%;
}
.imagesection2{
    margin-left: 150px;
    margin-bottom:15px
}

.imagesection5{
    margin-left: 557px;
}

.containerheader {
    margin: 0;
    padding-left: 295px;
    padding-top: 20px
}

.video {
    padding-bottom: 25px;
    margin-left: 17px;
    margin-top: -18px;
    width: 654px;
    height: 385px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 370px;
    text-align: center;
}

.imageContent {
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-shadow: 2px 2px 2px #333;
    position: relative;
}

.field.is-grouped {
    padding-left: 16px
}

.button {
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: rgb(201, 54, 51);
    /* Green */
    border-color: transparent;
    color: white;
}

.dealsSection {
    margin-left: 15%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    padding: 0px;
    position: relative;
    align-content: center;
}

.grid-item {
    padding: 5px;
    font-size: 18px;
    text-align: center;
    padding-bottom: 0px;
    padding-right: 0px;
}

.card-image {
    margin-top: 15px;
}

.img1 {
    height: 209.23px;
}

.heroImage {
    background-image: url(../assets/1920x600_header.jpg);
    height: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.is-boomer {
    background-color: #E13F3D;
    border-color: #E13F3D;
    color: white;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: lighter
}

.is-boomer.is-first {
    background-color: #2980b9;
    border-color: #2980b9;
    color: white;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: lighter
}

.is-boomer.is-first:hover {
    background-color: #1b6494;
    border-color: #1b6494;
    color: white;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: lighter
}

.is-huge {
    font-size: 3rem;
    margin-bottom: 5%;
}

.is-light {
    font-weight: 100;
}

.narrowSubtitle {
    padding-left: 27%;
    padding-right: 27%;
}

.paddedBottom {
    padding-bottom: 4%;
}

.paddedBottom2 {
    padding-bottom: 2%;
}

.marginLeft {
    margin-left: 4%;
}

.greySection {
    background-color: #EFF3F4;
}

.marginBottom {
    margin-bottom: 5%;
}

.textAlignCenter {
    text-align: center;
    margin-bottom: 10%;
}

.hero-body {
    padding: 0rem 0rem;
}

.hero.is-meduim.hero-body {
    padding-top: 0rem
}

.hero.is-small .hero-body {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.player .vp-video-wrapper .vp-shade {
    background-color: transparent;
}

.greySection {
    background-color: #ecf0f1
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
}

.align-container{
    margin-left: 8%;
}


</style>
