<template>
<div>
 <searchFilterMenu></searchFilterMenu>

<dealsArea></dealsArea>

</div>

</template>
<script>

export default {
  name: "market",
  data() {
    return {};
  },
  created(){
    this.$store.dispatch('checkIfBlocked')
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#dealsContainer {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    position: absolute;
    left: 25%;
    top: 11%;
    width: 80%;
    text-align: center;
    font-size: 18px;
}

</style>
