<template>
<div>
        <nav class="navbar is-transparent navBarColor">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="">
                            </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <router-link class="navbar-item white" :to="{ name:'mainpage'}">Home</router-link> 
                            <router-link v-if="isLoggedIn" class="navbar-item white" :to="{ name:'market'}">Market</router-link> 
                            <router-link v-if="isLoggedIn" class="navbar-item white" :to="{ name:'forms', params:{formName:'addDeal',dealID:'new',username:this.$store.getters.getUserName}}">Post Deal</router-link> 
                            <router-link v-if="isLoggedIn" class="navbar-item white" :to="{ name:'helpCenter'}">Help Center</router-link> 
                            <router-link class="navbar-item white" :to="{ name:'about'}">About</router-link> 
                            <router-link v-if="!isLoggedIn" class="navbar-item white" :to="{ name: 'Login'}">Login</router-link>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link white" v-if="isLoggedIn">
                                        Account
                                    </a>
                                <div class="navbar-dropdown" v-if="isLoggedIn">
                                    <div class="navbar-item" v-if="isLoggedIn">
                                       <b>{{ this.$store.getters.getUserName }}</b>
                                    </div>
                                  <hr class="navbar-divider">
                                  <router-link v-if="isLoggedIn" class="dropdown-item" :to="{ name:'myDeals'}">My Deals</router-link>  
                                  <router-link v-if="isLoggedIn" class="dropdown-item" :to="{ name: 'profileSettings'}">Profile Settings</router-link>
                                  <router-link v-if="isLoggedIn" class="dropdown-item" :to="{ name: 'inbox'}">Inbox</router-link>
                                  <router-link v-if="isAdmin" class="dropdown-item" :to="{ name: 'dashboard'}">Admin</router-link> 
                                    <hr class="navbar-divider">
                                    <div class="navbar-item">
                                      <a v-if="isLoggedIn" class="navbar-item" v-on:click="logOut">LogOut</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- END NAV -->
            </div>
</template>
<script>
import authService from "../components/services/authService.vue";

export default {
  name: 'navBar',
  data () {
    return {
    }
  },methods:{
    setUserName: function(){
      var loggedUser=localStorage.getItem('session');
      var final=JSON.parse(loggedUser);
      // this.UserLoggedIn=true;
      this.username=final.username;
    },
    logOut: function(){
      authService.methods.logOut();
      this.$router.push('/login');
},
  }
  ,computed:{
    isLoggedIn(){
      return this.$store.getters.getUserStatus
    },
    whoIsLoggedIn(){
      return this.$store.getters.getUserName
    },
    isAdmin(){
      return this.$store.getters.getIsUserAdmin
    }
  }
}

</script>

<style scoped>

.navBarColor{
  background-color: #222931;
}

.white{
  color: white;
}


.navbar-brand {
    position: relative;
    background: url(../assets/logoe.png);
    width: 140px;
    left: 30px;
    background-size: contain;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

.navbar-item .dropdown-item{
    font-family: 'Open Sans', sans-serif;
}


</style>
