<template>
<div class="hero is-fullheight">
    <div class="container has-text-centered">
        <div class="text-wrapper">
            <div class="title" data-content="404">
                404
            </div>
            <div class="subtitle">
                Oops, the page you're looking for doesn't exist.
            </div>

            <div class="buttons">
                <a class="button is-rounded is-large" href="http://localhost">Go to homepage</a>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: "notFound",
    data() {
        return {};
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
@import url(https://fonts.googleapis.com/css?family=Raleway:700);

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20%
}

.title {
    font-size: 6em;
    font-weight: 700;
    color: #EE4B5E;
    padding-right: 50px;

}

.subtitle {
    font-size: 40px;
    font-weight: 700;
    color: #1FA9D6;
}

.buttons {
    margin: 30px;
}

.hero {
    /* font-family: 'Raleway', sans-serif; */
    background-color: #342643
}
</style>
