<template>
<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <div id=titles>
                    <img src="../assets/logowithblacksub.png" alt="Logo">
                    <h3 class="title has-text-grey has-text-centered"> Password Reset</h3>
                </div>
                <div class="box has-text-centered">
                    <div id="errors">
                        <ul>
                            <li class="subtitle has-text-danger" :key="error" v-for="error in errors">{{ error }}</li>
                        </ul>
                        <br>
                        </div>
                        <form v-on:submit="passwordReset" method="post">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="New Password" autofocus="" v-model="passwords.password1" required>
                                </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="password" placeholder="Confirm Password" autofocus="" v-model="passwords.password2" required>
                                </div>
                                    </div>

                                    <button class="button is-success is-large is-fullwidth">Reset Password</button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <router-link :to="{ name: 'signUp'}">Sign Up</router-link> &nbsp;·&nbsp;
                        <router-link :to="{ name: 'Login'}">Login</router-link>
                    </p>
                </div>
            </div>
        </div>
</section>
</template>

<script>
import validationService from "./services/validationService.vue";
import httpService from './services/httpService.vue';
import notificationService from './services/notificationService'
export default {
    name: "resetPassword",
    data() {
        return {
            passwords: {
                password1: null,
                password2: null
            },
            errors: []
        }
    },
    methods: {
        passwordReset: async function (e) {
            e.preventDefault();
            //local validation
            this.errors = [];
            let localValidation = validationService.methods.validatePasswordReset(this.passwords, this.errors)
            if (localValidation === true) {
                let passwordResetDone = await httpService.methods.httpReq(`api/users/reset/${this.$route.query.token}`, this.passwords, 'post')
                if (passwordResetDone.data === true) {
                    notificationService.methods.openSnackBar('Password Reset Done!', 'is-success', 'is-top-right')
                    this.$router.push({
                        name: 'Login'
                    })
                } else {
                    this.errors = passwordResetDone.data
                    notificationService.methods.openSnackBar('Password Reset Failed!', 'is-success', 'is-top-right')
                }
            }

        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
.hero.is-success {
    background: #f2f6fa;
}

.hero .nav,
.hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(88, 59, 59);
    opacity: 1;
    /* Firefox */
}

#titles {
    margin-bottom: 20px;
    margin-right: 30px;
}
</style>
