<template>
<div>
    <aside class="column is-2">
        <ul class="menu-list">
            <li>
                <div class="field is-grouped">
                    <p class="control">
                        <button class="button is-info" @click="applyFilters()" >Apply Filters</button>

                    </p>
                    <p class="control">
                        <button class="button is-warning" @click="clearFilters()" >Clear Filters</button>
                    </p>
                </div>

            </li>
            <li>
                <a>Categories</a>
                <ul>
                    <li v-for="category1 in categories" :key="category1.category_name">
                        <div class="field">
                            <b-checkbox v-model="category" :native-value=category1.category_name> {{ category1.category_name }} </b-checkbox>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a>Deal options</a>
                <ul>
                    <li>
                        <div class="field">
                            <b-checkbox v-model="openForBids">Open For Bids</b-checkbox>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a>Country</a>
                <ul>
                    <li>
                        <div class="field">
                            <b-autocomplete v-model="country" 
                            placeholder="Start Typing..." 
                            :open-on-focus="openOnFocus" 
                            :data="filteredCountries" 
                            field="country" 
                            @select="option=> countryObj=option">
                            </b-autocomplete>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a>Area OF The World</a>
                <ul>
                    <li>
                        <div class="field">
                            <b-checkbox v-model="area" native-value="North America">North America</b-checkbox>
                        </div>
                    </li>
                    <li>
                        <div class="field">
                            <b-checkbox v-model="area" native-value="South America">South America</b-checkbox>
                        </div>
                    </li>
                    <li>
                        <div class="field">
                            <b-checkbox v-model="area" native-value="Europe">Europe</b-checkbox>
                        </div>
                    </li>
                    <li>
                        <div class="field">
                            <b-checkbox v-model="area" native-value="Asia">Asia</b-checkbox>
                        </div>
                    </li>
                    <li>
                        <div class="field">
                            <b-checkbox v-model="area" native-value="Africa">Africa</b-checkbox>
                        </div>
                    </li>
                    <li>
                        <div class="field">
                            <b-checkbox v-model="area" native-value="Australia">Australia</b-checkbox>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
</div>
</template>

<script>
import httpService from "./services/httpService";
import {mapGetters} from 'vuex'
import {dealsMixin} from "./../utils/dealsMixin.js"
import {countryMixin} from "./../utils/countryMixin.js"
export default {
    name: "searchFilterMenu",
    data() {
        return {
            openForBids: false,
            category: [],
            country: null,
            area: [],
            openOnFocus: true,
            countries: [],
            categories: [],
        };
    },
    mixins:[dealsMixin,countryMixin],
    methods: {
        applyFilters: function () {
            let filters = {
                category: this.category,
                area: this.area,
                openForBids: this.openForBids,
                country: this.country
            }
            this.$store.dispatch('applyFilters',filters)
        },
        clearFilters: function () {
            //of store
            this.$store.dispatch("clearFilters");
            //localy
            this.openForBids = false
            this.category = []
            this.area = []
            this.country = null
        },
        setFiltersFromStore: function () {
            //will load filters after a page refresh
            if (this.filtersFromStore != null) {
                this.category = this.filtersFromStore.category
                this.openForBids = this.filtersFromStore.openForBids
                this.area = this.filtersFromStore.area
                this.country = this.filtersFromStore.country
            }
        },
        getCategories: async function () {
            let categories = await httpService.methods.httpReq('api/categories/get', {}, 'get')
            this.categories = categories.data
        }
    },
    computed: {
        ...mapGetters({
            filtersFromStore: 'getFilters'
        })
    },
    created() {
        this.setFiltersFromStore();
        this.getCategories();
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
#dealsContainer {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    position: absolute;
    left: 25%;
    top: 11%;
    width: 80%;
    text-align: center;
    font-size: 18px;
}
</style>
