<template>
  <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <div id=titles>
                        <img src="../assets/logowithblacksub.png" alt="Logo">
                        <p class="subtitle has-text-grey has-text-centered">Please Fill The Details below</p>
                    </div>
                    <div class="box has-text-centered">
                        <div id="errors">
                            <ul>
                            <li class="subtitle has-text-danger" :key="error" v-for="error in errors">{{ error }}</li>
                            </ul>
                            <br>       
                        </div>
                        <form v-on:submit="registerUser" method="post">
                            <div class="field">
                                <div class="control">
                                  <label >Email</label> 
                                    <input class="input is-large" type="email" placeholder="Your Email" autofocus="" v-model="data.username" required>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                  <label>Full Name</label> 
                                  <input class="input is-large" type="text" placeholder="John Smith" v-model="data.fullName" required>
                                </div>
                            </div>                            
                            <div class="field">
                                <div class="control">
                                  <label>company</label> 
                                    <input class="input is-large" type="text" placeholder="Boomer inc." autofocus="" v-model="data.company" required>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                  <label >Country</label> 
                                  <countryField :size="'is-large'" @select="setCountryAndContinentSignUp"></countryField>                                
                                </div>
                            </div>                            
                            <div class="field">

                                <div class="control">
                                  <label >Password</label> 
                                    <input class="input is-large" type="password" placeholder="●●●●●●●" autofocus="" v-model="data.password" required>
                                  <h6 class="note">
                                    **Password needs to be at least 8 charecters long and include 1 special charecter, 1 upper case letter, 1 number,1 lower case letter
                                  </h6>
                                </div>
                            </div>
                              <div class="field">
                                <div class="control">
                                  <label >Password Again</label> 
                                    <input class="input is-large" type="password" placeholder="●●●●●●●" autofocus="" v-model="data.password2" required>
                                </div>
                            </div>
                         
                            <button class="button is-success is-large is-fullwidth">Sign Up!</button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <router-link class="formsfooter" :to="{ name: 'Login'}">Login</router-link> &nbsp;·&nbsp;
                        <router-link class="formsfooter" :to="{ name: 'forgotPassword'}">Forgot Password</router-link> &nbsp;·&nbsp;
                        <router-link class="formsfooter" :to="{ name: 'contactb'}">Need Help?</router-link>
                    </p>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
import httpService from "./services/httpService.vue";
import authService from "./services/authService.vue";
import validationService from "./services/validationService.vue";
import notificationService from "./services/notificationService.vue";
import { dealsMixin } from "../utils/dealsMixin.js";

export default {
  name: "signUp",
  data() {
    return {
      errors: [],
      data: {
        username: null,
        fullName: null,
        company: null,
        phoneNumber: null,
        password: null,
        password2: null,
        country: null,
        continent: null
      }
    };
  },
  mixins: [dealsMixin],
  methods: {
    //validate the form
    checkForm: function() {
      // let validation = validationService.methods.validateSignUpForm(data,'signUp');
      let validation = validationService.methods.validateUserSignUp(
        this.data,
        this.errors
      );
      return validation;
    },
    registerUser: async function(e) {
      try {
        e.preventDefault();
        this.errors = [];
        var formVal = this.checkForm();
        if (formVal) {
          //will return an array of errors if any
          this.errors = await authService.methods.registerUser(this.data);
          if (!this.errors.length || this.errors === true) {
            notificationService.methods.openSnackBar("Successfuly Signed up!","is-white","is-top-right");
            this.$router.push({ name: "Login" });
          }
        }
      } catch (error) {
        notificationService.methods.openSnackBar("Sorry we had a problem, please refresh the page and try again","is-white","is-top-right");
      }
    }
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hero.is-success {
  background: #f2f6fa;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(88, 59, 59);
  opacity: 1;
  /* Firefox */
}

#titles {
  margin-bottom: 20px;
  margin-right: 30px;
}

.note{
  color: blue;
  font-size: 11px
}
</style>
