<template>
<div>
<div  v-if="block" class="modal-card">
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
    <div class="card-content">
     <div class=modalTitle > User Blocking</div>
     <hr>
     <P> Are you sure you want to block this user?</P>
     <p>If yes, please state the reason below</p>
     <b-input v-model="blockingData.disabled_reason" required></b-input>
     <hr>
      <button class='button is-info' @click="blockUser()"> Block User</button>
      <button class='button is-warning' @click="closeModal"> Close</button>
  </div>
</div>
</div>
    <!-- Reactivate! -->

<div class="modal-card" v-if="!block">
  <div class="modal-content"> 
    <!-- Any other Bulma elements you want -->
    <div class="card-content">
     <div class=modalTitle > User Unblocking</div>
     <hr>
     <P> Are you sure you want to unblock this user?</P>
     <hr>
      <button class='button is-info' @click="blockUser()"> unblock User</button>
      <button class='button is-warning' @click="closeModal"> Close</button>
  </div>
</div>
</div>
</div>

</template>
<script>
import httpService from '../services/httpService.vue'
import notificationService from '../services/notificationService.vue'
export default {
  name: "blockUserModal",
  props:['userID','block'],
  data() {
    return {
      blockingData:{
        action:null,
        username:null,
        userID:null,
        disabled_reason:null
      }
    };
  },
  methods: {
    closeModal: function(){
      this.$emit('close');
    },
    blockUser:async function(){
      this.blockingData.username=this.$store.getters.getUserName
      this.blockingData.userID=this.userID
      
      if(this.block===true){
        console.log('here')
        let userIsBlocked= await httpService.methods.httpReq('api/admin/blockUser',this.blockingData,'post')
        if(userIsBlocked.data===true){
          this.$emit('userIsBlocked')
          notificationService.methods.openSnackBar('User Is Blocked!','is-success','is-top-right')
          this.closeModal()
        }else{
          notificationService.methods.openSnackBar('was unable to block the user, try again','is-success','is-top-right')
          this.closeModal()
        }
      }else{
        this.blockingData.action='unblock'
        let userIsUnblocked= await httpService.methods.httpReq('api/admin/blockUser',this.blockingData,'post')
        if(userIsUnblocked.data===true){
          this.$emit('userIsBlocked')
          notificationService.methods.openSnackBar('User Is Active Again!','is-success','is-top-right')
          this.closeModal()
        }else{
          notificationService.methods.openSnackBar('was unable to unblock the user, try again','is-success','is-top-right')
          this.closeModal()
        }
      }
    }

    }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.modalTitle{
  font-weight: bold;
  font-size: 25px
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}
.card-content{
  background: white
}

.input {
  width: 800px;
}
.field.has-addons {
  margin-left: 180px;
}
</style>
