<template>
<div>
<div class="modal-card">
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
    <div class="card-content">
     <div class=modalTitle > Contact Deal Publisher</div>
     <hr>
    <div id="error">{{this.error}}</div>
<label class="label">Message</label>
  <div class="control">
    <textarea v-model="messageTemplate" class="textarea" placeholder=""></textarea>
  </div>
     <hr>
      <button class='button is-info' @click="contactDealPublisher">Send!</button>
      <button class='button is-warning' @click="closeModal">Close</button>
  </div>
</div>
</div>
</div>

</template>
<script>
import httpService from '../services/httpService'
import notificationService from '../services/notificationService'
export default {
  name: "contactPublisherModal",
  props:['users','dealTitle'],
  data() {
    return {
      messageTemplate:`Hi! i want to contact you about this deal: ${this.dealTitle}`,
      error:null
    };
  },
  methods: {
    closeModal: function(){
      this.$emit('close');
    },
      contactDealPublisher: async function(){
        //ask the server to create chat or add message to an exisitng chat
        let message={
          message: this.messageTemplate,
          from: this.users[0],
          to: this.users[1],
          time: new Date().getTime()
        }
        let messageSent= await httpService.methods.httpReq('api/chats/createChat',message,'post')
        console.log(messageSent)
        if (messageSent.data===true){
          notificationService.methods.openSnackBar('Message sent!, you can see you message on the control pannel','is-success','is-top-right')
          return this.$emit('close');
        }
        this.error="We had a problem when sending the message, please try again or contact support"
      },
    },beforeMount() {
      console.log(this.users)
      console.log(this.dealTitle)
    },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.modalTitle{
  font-weight: bold;
  font-size: 25px
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}
.card-content{
  background: white
}

.input {
  width: 800px;
}
.field.has-addons {
  margin-left: 180px;
}
.warning{
  font-weight: bold;
  color: red;
}
#error{
  font-weight: bold;
  color: red;
}
</style>
