<template>
<div>
<div v-if="!reactivate && !admin" class="modal-card">
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
    <div class="card-content">
     <div class=modalTitle > Deal Deactivation</div>
     <hr>
     <P> Are you sure you want to deactivate this deal?</P>
     <p>*you can always activate it again through the control panel!</p>
     <hr>
      <button class='button is-info' @click="ChangeDealStatus('deactivate')"> Deactivate</button>
      <button class='button is-warning' @click="closeModal"> Close</button>
  </div>
</div>
</div>

    <!-- Reactivate! -->
<div class="modal-card" v-if="reactivate && !admin">
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
    <div class="card-content">
     <div class=modalTitle > Deal Reactivation</div>
     <hr>
     <P> Are you sure you want to Reactivate this deal?</P>
     <p>The deal will become visible again for users on the market</p>
     <hr>
      <button class='button is-info' @click="ChangeDealStatus(true)"> Reactivate</button>
      <button class='button is-warning' @click="closeModal"> Close</button>
  </div>
</div>
</div>


<!--ADMIN TEMPLATE-->
<div v-if="!reactivate && admin" class="modal-card">
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
    <div class="card-content">
     <div class=modalTitle > Deal Deactivation</div>
     <hr>
     <P> Are you sure you want to deactivate this deal?</P>
     <p> please write the reason for this action</p>
     <b-input v-model="reason" required></b-input>
     <hr>
      <button class='button is-info' @click="ChangeDealStatusAdmin('deactivate')"> Deactivate</button>
      <button class='button is-warning' @click="closeModal">Close</button>
  </div>
</div>
</div>

<!--ADMIN TEMPLATE Reactivate-->
<div class="modal-card" v-if="reactivate && admin">
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
    <div class="card-content">
     <div class=modalTitle > Deal Reactivation</div>
     <hr>
     <P> Are you sure you want to Reactivate this deal?</P>
     <p>The deal will become visible again for users on the market</p>
     <hr>
      <button class='button is-info' @click="ChangeDealStatusAdmin(true)"> Reactivate</button>
      <button class='button is-warning' @click="closeModal"> Close</button>
  </div>
</div>
</div>

</div>

</template>
<script>
import httpService from '../services/httpService'
import notificationService from '../services/notificationService'
export default {
  name: "deactivateDealModal",
  props:['dealID','reactivate','duration','admin'],
  data() {
    return {
      reason:null
    };
  },
  methods: {
    closeModal: function(){
      this.$emit('close');
    },
    ChangeDealStatus: async function(flag){
      let query={dealID:this.dealID, username:this.$store.getters.getUserName}
      if(flag==true){
        query={dealID:this.dealID, username:this.$store.getters.getUserName, dealStat: 'reactivate',duration: this.duration}
      }
      //send request to server
      let dealStatusChanged=await httpService.methods.httpReq('api/deals/changeDealStatus',query,'post')
      console.log(dealStatusChanged)
      if(dealStatusChanged.data===false){
        //show message (need the notification message)
              console.log('Deal wasnt Change')
              notificationService.methods.openSnackBar('Unable to change deal status, please try again! or contact support','is-white','is-top-right')
              return this.$emit('close');
      }
      //show ok message (need the notification mseesage)
      notificationService.methods.openSnackBar('Deal status Changed!','is-white','is-top-right')
      console.log('Deal Status Changed')
      this.$emit('dealStatusChanged')
      this.$emit('close');
      },
      ChangeDealStatusAdmin:async function(flag){
        let data={
          dealID:this.dealID,
          username:this.$store.getters.getUserName,
          reason:this.reason
        }
        if(flag===true){
          data.action='reactivateDeal'
          delete data.reason
        }
      //send request to server
      let dealStatusChanged=await httpService.methods.httpReq('api/admin/deactivateDeal',data,'post')
      if(dealStatusChanged.data===false){
        //show message (need the notification message)
              console.log('Deal status was not changed!');
              notificationService.methods.openSnackBar('Unable to change deal status, please try again!','is-white','is-top-right');
              return this.$emit('close');
      }
      //show ok message (need the notification mseesage)
      notificationService.methods.openSnackBar('Deal status Changed!','is-white','is-top-right')
      console.log('Deal Status Changed')
      this.$emit('dealStatusChanged')
      this.$emit('close');
      }
    }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.modalTitle{
  font-weight: bold;
  font-size: 25px
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}
.card-content{
  background: white
}

.input {
  width: 800px;
}
.field.has-addons {
  margin-left: 180px;
}
</style>
