<template>
<div>
    <div class="modal-card">
        <div class="modal-content">
            <!-- Any other Bulma elements you want -->
            <div class="card-content">
                <div class=modalTitle>Deal Report</div>
                <hr>
                <div id="errors">
                    <ul>
                        <li class="subtitle has-text-danger" :key="error" v-for="error in errors">{{ error }}</li>
                    </ul>
                    <br>
                </div>
                    <P> Please specify what is wrong with this deal: </P>
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea" type="text" placeholder="Type Here" v-model="report.reason"></textarea>
                        </div>
                    </div>
                    <hr>
                    <button class='button is-info' @click="reportDeal">Report!</button>
                    <button class='button is-warning' @click="closeModal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import httpService from '../services/httpService'
import notificationService from '../services/notificationService'
import validationService from '../services/validationService'
export default {
    name: "reportDealModal",
    data() {
        return {
            report: {
                reason: null,
                dealID: null,
                publisher: null,
                reportedBy: null
            },
            errors: []
        };
    },
    props: ['dealID', 'publisher'],
    methods: {
        closeModal: function () {
            this.$emit('close');
        },
        reportDeal: async function () {
            try {
                this.errors = [];
                console.log(this.dealID, this.publisher)
                this.report.reportedBy = this.$store.getters.getUserName
                this.report.dealID = this.dealID
                this.report.publisher = this.publisher
                let validation = validationService.methods.validateDealReport(this.report, this.errors)
                if (this.errors.length <= 0) {
                    let dealReported = await httpService.methods.httpReq('api/reportDeal', this.report, 'post')
                    if (dealReported.data.success === true) {
                        notificationService.methods.openSnackBar('Report Sent!,thank you', 'is-success', 'is-top-right')
                        return this.closeModal()
                    }
                    notificationService.methods.openSnackBar('Wasnt able to send report,please refresh the page and try again', 'is-success', 'is-top-right')
                    return this.closeModal()
                }
            } catch (error) {
                notificationService.methods.openSnackBar('Wasnt able to send report, please refresh the page and try again.', 'is-success', 'is-top-right')
                console.error(error)
                this.closeModal()
            }
        },
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
.modalTitle {
    font-weight: bold;
    font-size: 25px
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.card-content {
    background: white
}

.input {
    width: 800px;
}

.field.has-addons {
    margin-left: 180px;
}

.warning {
    font-weight: bold;
    color: red;
}
</style>
