<template>
<div>
    <div v-if="!admin" class="modal-card">
        <div class="modal-content">
            <!-- Any other Bulma elements you want -->
            <div class="card-content">
                <div class=modalTitle> Deal Deletion</div>
                <hr>
                <P> Are you sure you want to delete this deal?</P>
                <p class='warning'>**THIS CANNOT BE UNDONE!**</p>
                <hr>
                <button class='button is-danger' @click="deleteDeal">Delete Deal</button>
                <button class='button is-warning' @click="closeModal">Close</button>
            </div>
        </div>
    </div>

    <!-- Admin Template -->
    <div v-if="admin" class="modal-card">
        <div class="modal-content">
            <!-- Any other Bulma elements you want -->
            <div class="card-content">
                <div class=modalTitle>
                  Deal Deletion
                </div>
                <hr>
                <P>
                Are you sure you want to delete this deal?
                </P>
                <p class='warning'>
                  **THIS CANNOT BE UNDONE!**
                </p>
                <hr>
                <button class='button is-danger' @click="deleteDealAdmin">Delete Deal</button>
                <button class='button is-warning' @click="closeModal">Close</button>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import httpService from '../services/httpService'
import notificationService from '../services/notificationService'
export default {
    name: "deleteDealModal",
    props: ['dealID', 'admin'],
    data() {
        return {};
    },
    methods: {
        closeModal: function () {
            this.$emit('close');
        },
        deleteDeal: async function () {
            let query = {
                dealID: this.dealID,
                username: this.$store.getters.getUserName
            }
            //send request to server
            let dealIsDeleted = await httpService.methods.httpReq('api/deals/deleteDeal', query, 'post')
            console.log(dealIsDeleted.data)
            if (dealIsDeleted.data === false) {
                //show message (need the notification message)
                notificationService.methods.openSnackBar('Unable to delete deal!', 'is-success', 'is-top-right')
                this.$emit('close');
            } else {
                //show ok message (need the notification mseesage)
                notificationService.methods.openSnackBar('Deal Was Deleted!', 'is-success', 'is-top-right')
                this.$emit('dealDeleted')
                this.$emit('close');
            }
        },
        deleteDealAdmin: async function () {
          try {
              let query = {
                  dealID: this.dealID,
                  username: this.$store.getters.getUserName,
              }
              //send request to server
              let dealIsDeleted = await httpService.methods.httpReq('api/admin/removeDeal', query, 'post')
              console.log(dealIsDeleted.data)
              if (dealIsDeleted.data===true) {
                  notificationService.methods.openSnackBar('Deal Was Deleted!', 'is-success', 'is-top-right')
                  this.$emit('dealDeletedAdmin')
                  this.$emit('close');
              } else {
                notificationService.methods.openSnackBar('Unable to delete deal!', 'is-success', 'is-top-right')
                this.$emit('close');
              }
          } catch (error) {
            notificationService.methods.openSnackBar('Unable to delete deal!', 'is-success', 'is-top-right')
            this.$emit('close');
          }
          
        }
    }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
.modalTitle {
    font-weight: bold;
    font-size: 25px
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.card-content {
    background: white
}

.input {
    width: 800px;
}

.field.has-addons {
    margin-left: 180px;
}

.warning {
    font-weight: bold;
    color: red;
}
</style>
