<template>
<div>
<div class="modal-card">
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
    <div class="card-content">
     <div class=modalTitle > Category Delete</div>
     <hr>
     <P> Are you sure you want to delete this category?</P>
     <hr>
      <button class='button is-danger' @click="deleteCategory">Delete</button>
      <button class='button is-warning' @click="closeModal">Close</button>
  </div>
</div>
</div>
</div>

</template>
<script>
import httpService from '../services/httpService'
import notificationService from '../services/notificationService'
export default {
  name: "deleteCategoryModal",
  props:['catID'],
  data() {
    return {
    };
  },
  methods: {
    closeModal: function(){
      this.$emit('close');
    },
    deleteCategory: async function(){
      //send request to server
      let categoryIsDeleted=await httpService.methods.httpReq('api/admin/categoryDelete',{catID:this.catID, username: this.$store.getters.getUserName},'post')
      console.log(categoryIsDeleted.data)
      if(categoryIsDeleted.data===false){
          //show message (need the notification message)
          notificationService.methods.openSnackBar('unable to delete category, please try again','is-success','is-top-right')
          this.$emit('close');
      }
      else{
      //show ok message (need the notification mseesage)
      notificationService.methods.openSnackBar('Category Was Deleted!','is-success','is-top-right')
      this.$emit('categoryIsDeleted')
      this.$emit('close');
      }
    }
}

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.modalTitle{
  font-weight: bold;
  font-size: 25px
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}
.card-content{
  background: white
}

.input {
  width: 800px;
}
.field.has-addons {
  margin-left: 180px;
}
.warning{
  font-weight: bold;
  color: red;
}
</style>
