<template>
<div>
<div class="modal-card">
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
    <div class="card-content">
     <div class=modalTitle > User Deleting</div>
     <hr>
     <P> Are you sure you want to delete this user?</P>
     <hr>
      <button class='button is-danger' @click="deleteUser()"> Delete User</button>
      <button class='button is-warning' @click="closeModal"> Close</button>
  </div>
</div>
</div>
</div>

</template>
<script>
import httpService from '../services/httpService.vue'
import notificationService from '../services/notificationService.vue'
export default {
  name: "blockUserModal",
  props:['userID'],
  data() {
    return {
      blockingData:{
        action:null,
        username:null,
        userID:null,
        disabled_reason:null
      }
    };
  },
  methods: {
    closeModal: function(){
      this.$emit('close');
    },
    deleteUser:async function(){
        let userDeleted= await httpService.methods.httpReq('api/admin/removeUser',{userID: this.userID,username: this.$store.getters.getUserName},'post')
        if(userDeleted.data===true){
            notificationService.methods.openSnackBar('User Is Deleted!','is-success','is-top-right')
            this.$emit('userIsDeleted')
            this.closeModal()
        }else{
            notificationService.methods.openSnackBar('unable to delete user,please try again','is-success','is-top-right')
            this.closeModal()
        }
    }

    }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.modalTitle{
  font-weight: bold;
  font-size: 25px
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}
.card-content{
  background: white
}

.input {
  width: 800px;
}
.field.has-addons {
  margin-left: 180px;
}
</style>
