<template>
    <section>
  <div class="card">
  <div class="card-image">
    <figure class="image is-2by3">
      <img  :src="deal.pictures[0].secure_url" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
      </div>
    </div>
    <div class="content is-centerd">
      <h1> {{deal.title}}</h1>
      <p><label>Publish On: </label> {{formatDate(deal.start)}} <label>By: </label> {{deal.publisher}}</p>
      <p><label>Descirption: </label> {{deal.description}}</p>
    </div>
  </div>
  <div class="buttons is-centered">
  <span class="button is-success" @click="goToDeal(deal)">More Info</span>
  <span class="button is-info" @click="closeModal()">Close</span>
</div>
    </div>
    </section>
</template>

<script>
    export default {
      props:['deal'],
        data() {
            return {
            }
        },methods:{
            formatDate:function (dateS) {
                        var date= new Date(dateS)
                        var monthNames = [
                          "Jan", "Feb", "Mar",
                          "Apr", "May", "Jun", "Jul",
                          "Aug", "Sep", "Oct",
                          "Nov", "Dec"
                        ];

                        var day = date.getDate();
                        var monthIndex = date.getMonth();
                        var year = date.getFullYear();

                        return day + ' ' + monthNames[monthIndex] + ' ' + year;
},
closeModal:function (){
  this.$emit('close');
},
goToDeal: function(deal){
  this.$emit('close');
  this.$router.push({name:'dealPage',params: {dealID:deal._id}});
    }
        }
    }
</script>

<style scoped>

.image img{
  height: 500px

}

</style>

