<template>
<section class="hero is-fullheight  is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-4 is-offset-4">
                    <h1 class="title">
                        Add New Deal
                    </h1>
                    <div class="box">
                        <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="false"></b-loading>
                        <p v-if="errors.length">
                            <b>Please correct the following error(s):</b>
                            <ul>
                                <li class="formError" :key="error" v-for="error in errors">{{ error }}</li>
                            </ul>
                        </p>
                        <form ref='uploadForm' id='uploadForm' v-on:submit="createDeal" method='post' encType="multipart/form-data">
                            <label class="label">Title</label>
                            <p class="control">
                                <b-input maxlength="30" v-model="deal.title"></b-input>
                            </p>
                            <label class="label">Category</label>
                            <p class="control">
                                <b-select placeholder="Select a Category" name="category" v-model="deal.category" expanded>
                                    <option v-for="category in categories" :value="category.category_name" :key="category.category_name">
                                        {{ category.category_name.charAt(0).toUpperCase()+category.category_name.slice(1) }}
                                    </option>
                                </b-select>
                            </p>
                            <label class="label">Location of Items</label>
                            <p class="control">
                                <countryField @select="setCountryAndContinent" :size="'is-meduim'"></countryField>
                            </p>
                            <label class="label">Duration</label>
                            <b-field>
                                <b-radio-button  type="is-info" v-model="deal.duration" native-value=10>
                                    10 Days
                                </b-radio-button>
                                <b-radio-button type="is-info" v-model="deal.duration" native-value=20>
                                    20 Days
                                </b-radio-button>
                                <b-radio-button type="is-info" v-model="deal.duration" native-value=30>
                                    30 Days
                                </b-radio-button>
                            </b-field>
                            <label class="label">Pictures</label>
                            <b-field>
                                <b-upload v-model="deal.pictures" multiple drag-drop @input="previewImage">
                                    <section class="section">
                                        <div class="content has-text-centered">
                                            <p>
                                                <font-awesome-icon icon="upload" size="5x"></font-awesome-icon>
                                            </p>
                                            <p>Drop your files here or click to upload</p>
                                        </div>
                                    </section>
                                </b-upload>
                            </b-field>
                            <div class="row">
                                <div class="column" v-for="(image, key) in deal.pictures" :key=key>
                                    <figure class="image is-60x60">
                                        <img :ref="'image'+parseInt(key)" alt="Snow" style="width:100%">
                                        <button class="delete is-small front-element" type="button" @click="deletePicture(key)"></button>
                                    </figure>
                                </div>
                            </div>
                            <label class="label">Description</label>
                            <p class="control">
                                <b-field>
                                    <b-input name="description" maxlength="300" type="textarea" v-model="deal.description"></b-input>
                                </b-field>
                            </p>
                            <label class="label">Open For Bids</label>
                            <b-switch type="is-info" name="openForBids" v-model="deal.openForBids"></b-switch>
                            <hr>
                            <p class="control">
                                <button type="submit" class="button is-success is-fullwidth" @click="createDeal">Post Deal!</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</template>

<script>
import httpService from "../services/httpService.vue";
import validationService from "../services/validationService.vue"
import notificationService from "../services/notificationService.vue"
import {
    dealsMixin
} from "../../utils/dealsMixin.js"
import {
    countryMixin
} from "../../utils/countryMixin.js"

export default {
    name: "addDeal",
    data() {
        return {
            deal: {
                // onlyMoney:false,
                openForBids: false,
                // notMoney:false
            },
            imageData: [],
            isLoading: false,
            isFullPage: true,
            selectedFile: null,
            pictures: [],
            picturesNames: [],
            errors: [],
            categories: [],
        };
    },
    mixins: [countryMixin, dealsMixin],
    methods: {
        assignCountryAndContinent: function (countryOjbect) {
            this.deal.country = countryOjbect.country
            this.deal.continent = countryOjbect.continent
        },
        createDeal: async function (e) {
                try {
                    e.preventDefault();
                    //reset the error array
                    this.errors = []
                    //validate the form
                    let formVal = validationService.methods.validateDealCreation(this.deal, this.errors)
                    if (formVal) {
                        this.isLoading = true
                        var fd = new FormData();
                        this.deal.publisher = this.$store.getters.getUserName
                        for (let i = 0; i < this.deal.pictures.length; i++) {
                            fd.append(i, this.deal.pictures[i])
                        }
                        delete this.deal.pictures
                        fd.append('deal', JSON.stringify(this.deal))
                        //send requset to server
                        let res = await httpService.methods.httpReq("api/deals/add", fd, "post");
                        this.picutres = [];
                        this.errors = res.data
                        console.log('deal created:' + this.errors)
                        if (this.errors.created === true) {
                            this.isLoading = false
                            notificationService.methods.openSnackBar('Deal Created!', 'is-success', 'is-top-right')
                            this.$router.push({
                                name: "dealPage",
                                params: {
                                    dealID: res.data.dealID
                                }
                            });
                        } else {
                            this.isLoading = false
                        }
                    }
                } catch (err) {
                    this.isLoading = false
                    console.log(err)
                    notificationService.methods.openSnackBar('Unable to create deal,please refresh the page and try again', 'is-success', 'is-top-right')
                }
            },
            deletePicture: function (index) {
                //will delete picture from array
                this.deal.pictures.splice(index, 1);
            },
            getCategories: function () {
                httpService.methods
                    .httpReq("api/categories/get", {}, "get")
                    .then(categories => {
                        console.log("got categories from server");
                        this.categories = categories.data;
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            previewImage: function (event) {
                //   console.log(event)
                // // Reference to the DOM input element
                // var input = event;
                // console.log(input)
                // // Ensure that you have a file before attempting to read it
                // if (input && input[0]) {
                //     // create a new FileReader to read this image and convert to base64 format
                //     var reader = new FileReader();
                //     // Define a callback function to run, when FileReader finishes its job
                //     for (let i = 0; i < input.length; i++) {
                //     reader.onload = (e) => {
                //         // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                //         // Read image as base64 and set to imageData
                //         this.imageData=e.target.result
                //     }
                //     // Start the reader job - read file as a data url (base64 format)
                //     reader.readAsDataURL(input[i]);
                //     }
                // }

                console.log(event)

                for (let i = 0; i < event.length; i++) {
                    let reader = new FileReader(); //instantiate a new file reader
                    reader.addEventListener('load', function () {
                        this.$refs['image' + parseInt(i)][0].src = reader.result;
                    }.bind(this), false); //add event listener

                    reader.readAsDataURL(event[i]);
                }
            },
    },

    created() {
        this.getCategories();
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
.imagePreview {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ebebeb;
    margin: 5px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.front-element {
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
    z-index: 3 !important;
    background: red !important;
}

.scroll-dropdown{
    overflow: auto;
    max-height: 100px;
}

</style>
