<template>
<section class="hero is-fullheight  is-bold" :loading="isLoading">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-4 is-offset-4">
                    <h1 class="title">
                        Edit Deal
                    </h1>
                    <div class="box">
                        <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="false"></b-loading>
                        <p v-if="errors.length">
                            <b>Please correct the following error(s):</b>
                            <ul>
                                <li class="formError" :key="error" v-for="error in errors">{{ error }}</li>
                            </ul>
                        </p>
                        <form ref='uploadForm' id='uploadForm' v-on:submit="updateDeal" method='post' encType="multipart/form-data">
                            <label class="label">Title</label>
                            <p class="control">
                                <b-input maxlength="30" v-model="deal.title"></b-input>
                            </p>
                            <label class="label">Category</label>
                            <p class="control">
                                <b-select placeholder="Select a Category" name="category" v-model="deal.category" expanded>
                                    <option v-for="category in categories" :value="category.category_name" :key="category.category_name">
                                        {{ category.category_name }}
                                    </option>
                                </b-select>
                            </p>
                            <label class="label">Location of Items</label>
                            <p class="control">
                                <b-autocomplete v-model="deal.country" placeholder="Start Typing..." :open-on-focus="openOnFocus" :data="filteredCountries" field="country" @select="assignCountryAndContinent">
                                </b-autocomplete>
                            </p>
                            <label class="label">Duration</label>
                            <b-field>
                              <label>Current Deal Duration: <b>{{this.deal.duration}} Days</b></label>
                            </b-field>
                            <b-field>
                                <b-radio-button type="is-info" v-model="deal.duration" native-value="10">
                                    10 Days
                                </b-radio-button>
                                <b-radio-button type="is-info" v-model="deal.duration" native-value="20">
                                    20 Days
                                </b-radio-button>
                                <b-radio-button type="is-info" v-model="deal.duration" native-value="30">
                                    30 Days
                                </b-radio-button>
                            </b-field>
                            <b-field>
                                <b-upload v-model="deal.pictures" multiple drag-drop>
                                    <section class="section">
                                        <div class="content has-text-centered">
                                            <p>
                                                <font-awesome-icon icon="upload" size="5x"></font-awesome-icon>
                                            </p>
                                            <p>Drop your files here or click to upload</p>
                                        </div>
                                    </section>
                                </b-upload>
                            </b-field>
                            <div class="tags">
                                <span v-for="(file, index1) in deal.pictures"
                                  :key="index1"
                                  class="tag is-primary">
                                  {{file.name}}
                                  <button class="delete is-small"
                                      type="button"
                                      @click="deletePicture(index1)">
                                  </button>
                                </span>
                            </div>
                            <!-- v-if="this.deal.existingPictures.length" -->
                            <label  v-if="this.deal.existingPictures.length" class="label">Existing Pictures</label>
                            <div class="row">
                                <div class="column" v-for="(pic, index) in deal.existingPictures" :key="index">
                                    <figure class="image is-60x60">
                                        <img :src=pic.secure_url alt="Snow" style="width:100%">
                                        <button class="delete is-small front-element" type="button" @click="deleteExitingPicture(index)"></button>
                                    </figure>
                                </div>
                            </div>
                            <label class="label">Description</label>
                            <p class="control">
                                <b-field>
                                    <b-input name="description" maxlength="200" type="textarea" v-model="deal.description"></b-input>
                                </b-field>
                            </p>
                            <label class="label">Open For Bids</label>
                            <b-switch type="is-info" name="openForBids" v-model="deal.openForBids"></b-switch>
                            <hr>
                            <p class="control">
                                <button type="submit" class="button is-success is-fullwidth">Update Deal!</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</template>

<script>
import httpService from "../services/httpService.vue";
import validationService from "../services/validationService.vue"
import notificationService from "../services/notificationService.vue"
import {
    countryMixin
} from "../../utils/countryMixin.js"

export default {
    name: "editDeal",
    data() {
        return {
            deal: {
                existingPictures: [],
                deletedPictures: [],
                duration: null
            },

            isLoading: false,
            duration: null,
            isFullPage: true,
            selectedFile: null,
            pictures: [],
            errors: [],
            categories: [],
        };
    },
    props: ['dealID'],
    mixins: [countryMixin],
    methods: {
        assignCountryAndContinent: function (countryOjbect) {
            if (countryOjbect != null) {
                this.deal.country = countryOjbect.country
                this.deal.continent = countryOjbect.continent
            }
        },
        updateDeal: async function (e) {
                e.preventDefault();
                this.isLoading = true
                //reset the error array
                this.errors = []
                //temp fix for duraction
                this.deal.duration = this.duration
                //validate the form
                let formVal = validationService.methods.validateDealUpdate(this.deal, this.errors)
                if (formVal) {
                    var fd = new FormData();
                    //temp fix
                    this.deal.duration = this.duration
                    fd.append('deal', JSON.stringify(this.deal))
                    //if the user want to upload new pictures
                    if (this.deal.pictures != null) {
                        for (let i = 0; i < this.deal.pictures.length; i++) {
                            fd.append(i, this.deal.pictures[i])
                        }
                    }
                    //send requset to server
                    let res = await httpService.methods.httpReq("api/deals/update", fd, "post");
                    this.picutres = [];
                    this.errors = res.data;
                    if (this.errors === true) {
                        this.isLoading = false
                        notificationService.methods.openSnackBar('Deal Updated!', 'is-success', 'is-top-right')
                        this.getDealFromServer()
                    } else {
                        this.isLoading = false
                        notificationService.methods.openSnackBar('Had a problem with updating your deal, please try again', 'is-success', 'is-top-right')
                    }
                } else {
                    this.isLoading = false
                }
            },
            getDealFromServer: async function () {
                    let dealInfo = await httpService.methods.httpReq(`api/deals/get/${this.dealID}`, {}, 'get')
                    //assign the data to the inputs

                    this.deal._id = dealInfo.data.deal._id
                    this.deal.title = dealInfo.data.deal.title
                    this.deal.description = dealInfo.data.deal.description
                    this.deal.category = dealInfo.data.deal.category
                    this.deal.country = dealInfo.data.deal.country
                    this.deal.continent = dealInfo.data.deal.continent
                    this.deal.duration = dealInfo.data.deal.duration
                    this.deal.openForBids = dealInfo.data.deal.openForBids
                    this.deal.existingPictures = dealInfo.data.deal.pictures
                    this.deal.publisher = dealInfo.data.deal.publisher
                    this.deal.active = dealInfo.data.deal.active
                    this.deal.start = dealInfo.data.deal.start
                    this.deal.end = dealInfo.data.deal.end
                },
                deletePicture: function (index) {
                    //will delete picture from array
                    this.deal.pictures.splice(index, 1);
                },
                deleteExitingPicture: function (index) {
                    //will delete picture from array
                    this.deal.deletedPictures.push(this.deal.existingPictures[0])
                    this.deal.existingPictures.splice(index, 1);
                },
                getCategories: function () {
                    httpService.methods
                        .httpReq("api/categories/get", {}, "get")
                        .then(categories => {
                            console.log("got categories from server");
                            this.categories = categories.data;
                        })
                        .catch(err => {
                            console.log(err);
                        });
                },
    },
    beforeMount() {
        this.getCategories();
        this.getDealFromServer();
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
.imagePreview {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ebebeb;
    margin: 5px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.front-element {
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
    z-index: 3 !important;
    background: red !important;
}
</style>
